- if params[:hotel_id].blank?
  :css
    .rooms-container {
      padding: 0px !important;
    }
- hotel_id = params[:hotel_id] ||= params[:id]
#content-container.rooms-container{:"ng-controller"=>"HotelRoomsController",:"data-url"=>content_hotel_rooms_path(hotel_id: hotel_id), "ng-init"=>"hotel_id='#{hotel_id}'"}
  - if params[:hotel_id].empty?
    #page-title
      %h1.page-header.text-overflow
        =t("b1_admin.hotel_rooms")
  #page-content
    .row
      .col-md-12#items
        .panel
          .panel-heading
            .panel-control
              %button.btn.btn-default{:name => "refresh", :title => "Refresh", :type => "button","ng-click"=>"itemsTable.reload()"}
                %i.fa.fa-refresh.icon-refresh
              %a.btn.btn-primary{href:new_content_hotel_room_path(hotel_id: hotel_id),"ng-click"=>"$root.setRoute('#{new_content_hotel_room_path(hotel_id: hotel_id)}')"}=t("b1_admin.add")
            %h3.panel-title=t("b1_admin.list")
          .panel-body
            %div{style:"margin-top: 30px;"}
              %div{"cg-busy" => "{'promise': itemsPromise,'backdrop': true,'message': '#{t('b1_admin.loading')}'}"}
                %table.table.table-hover.table-striped.table-vcenter#itemsTable{"ng-table"=>"itemsTable"}
                  %tr{"ng-repeat" => "item in data"}
                    %td{"data-title" => "'#{t('b1_admin.title')}'"}
                      {{item.name}}
                    %td{"data-title" => "'#{t('b1_admin.logo')}'"}
                      %img.img-circle.img-sm{"ng-src" => "{{item.logo}}"}/
                    %td{"data-title" => "'#{t('b1_admin.room_type')}'"}
                      {{item.type}}
                    %td{"data-title" => "'#{t('b1_admin.total_rooms')}'"}
                      {{item.count}}
                    %td{"data-title" => "'#{t('b1_admin.room_quota')}'"}
                      {{item.quota}}
                    %td.min-w-td.text-center{"data-title" => "'#{t('b1_admin.user_actions')}'"}
                      - if user_can?(:edit)
                        %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-success.fa.fa-pencil.add-tooltip{"tooltip" => t("b1_admin.edit"),href:"#{content_hotel_rooms_path(hotel_id: hotel_id)}/{{item.id}}/edit/","ng-click"=>"$root.setRoute('#{content_hotel_rooms_path(hotel_id: hotel_id)}/' + item.id + '/edit/')",style:"margin-right: 15px;"}
                      - if user_can?(:destroy)
                        %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-danger.fa.fa-times.add-tooltip{"tooltip" => t("b1_admin.delete"), :href => "#","ng-click" => "destroy(item)"}
