#content-container
  #page-title
    %a.btn.btn-success.pull-right{href:content_hotels_path,"ng-click"=>"$root.setRoute('#{content_hotels_path}')"}=t("b1_admin.back_to_list")
    %h1.page-header.text-overflow
      =t("b1_admin.hotels")
  .panel{:"ng-controller"=>"HotelsController","ng-init"=>"step_id='#{@step_id}'; editedItem=#{@item.serializable_hash.to_json};types=#{@types.to_json};provider_id='#{@provider._id}';searchNetwork=#{@hotel_networks.to_json}; is_partner=#{current_admin.is_partner?};",:"data-url"=>content_hotels_path,"data-back-url"=>content_hotels_path,:"data-country-url"=>geo_countries_path,:"data-city-url"=>geo_cities_path}
    .panel-body
      #page-content
        .row
          %ul.wz-nav-off.wz-icon-inline.wz-classic
            - @steps.each do |step_id, step|
              - edit = /edit/ =~ params[:action]
              %li.col-xs-2.bg-purple{ng_class:"{active: step_id == '#{step_id}'}"}
                %a{style: ('cursor: pointer !important;' if edit), "aria-expanded" => ('true' if edit), "data-toggle" => ('tab' if edit), :ng_click => ("$root.setRoute('#{step_edit_content_hotel_path(id: @item.id, step_id: step_id)}')" if edit)}
                  %span.icon-wrap.icon-wrap-xs.bg-trans-dark
                    %i.fa.fa-info
                  = step[:title]
          .progress.progress-sm.progress-striped.active
            .progress-bar.progress-bar-pink{:style => "width: #{16.66 * @step_id.to_f}%;"}
        .row
          = form_tag content_hotels_path ,class: "form-horizontal",novalidate: true,name: :itemForm do
            = render file: @step_tpl
    .panel-footer
      .mar-top.clearfix
        %a.btn.btn-sm.btn-primary.pull-right{"ng-click" => "save()"}
          %i.fa.fa-pencil.fa-fw
          = @step_id == '6' ? t("b1_admin.save") : t("b1_admin.next")
