#content-container
  #page-title
    %h1.page-header.text-overflow
      =t("b1_admin.email_teplates")
  #page-content{:"ng-controller"=>"CrudController","ng-init"=>"editedItem=#{@item.serializable_hash.to_json}",:"data-url"=>settings_emails_path,:"data-delete-text"=>t("b1_admin.delete_permission_confirm")}
    .row
      .col
        .panel
          .panel-heading
            %h3.panel-title=t("b1_admin.manage")
          = form_tag settings_emails_path ,class: "form-horizontal",novalidate: true,name: :itemForm do
            .panel-body
              .row
                .col-md-12
                  .form-group{"ng-class" => "{'has-error': itemForm.subject.$invalid && itemForm.$submitted}",class: "lang lang" }
                    = label_tag :"subject", t("b1_admin.title"), class:"col-sm-1 control-label"
                    .col-sm-10
                      = text_field_tag :"subject","" ,class:"form-control", ng_required: "true","ng-minlength"=>3, "ng-model"=>"editedItem.subject"
                  / .form-group{"ng-class" => "{'has-error': itemForm.seo_name.$invalid && itemForm.$submitted}"}
                  /   = label_tag :seo_name, t("b1_admin.seo_name"), class:"col-sm-1 control-label"
                  /   .col-sm-10
                  /     = text_field_tag :seo_name,"" ,class:"form-control",required: true,"ng-minlength"=>3, "ng-model"=>"editedItem.seo_name"
                  .form-group{"ng-class" => "{'has-error': itemForm.desc.$invalid && itemForm.$submitted}", class: "lang" }
                    = label_tag :desc, "Текст", class: "col-sm-1 control-label"
                    .col-sm-10
                      .summernote{class: "summernote lang", :"data-lang"=>"uk"}
                      = text_area_tag :desc,"" ,class:"form-control hidden", ng_required: "true", "ng-model"=>"editedItem.desc"

          - if user_can?(:create) || user_can?(:update)
            .panel-footer.text-right
              = link_to t("b1_admin.save"),"#", class:"btn btn-info","ng-click" => "save()"

  - content_for :aside do
    .hidden
  %aside#aside-container
    #aside
      .panel
        .panel-heading
          %h3.panel-title=t("b1_admin.available_variables")
        = form_tag settings_emails_path ,class: "form-horizontal",novalidate: true,name: :itemForm do
          .panel-body
            .col-sm-12
              - @available_tags.each do |tag|
                .form-group
                  = label_tag tag, t("emails.tags.#{tag.to_s.downcase}"), class:"control-label"
                  %b="%#{tag}%"

