#content-container{:"ng-controller"=>"CrudController",:"data-url"=>settings_emails_path,:"data-delete-text"=>t("b1_admin.delete_role_confirm")}
  #page-title
    %h1.page-header.text-overflow
      =t("b1_admin.email_teplates")
  #page-content
    .row
      .panel
        .panel-heading
          .panel-control
            %button.btn.btn-default{:name => "refresh", :title => "Refresh", :type => "button","ng-click"=>"itemsTable.reload()"}
              %i.fa.fa-refresh.icon-refresh
            %a.btn.btn-primary{href:new_settings_email_path,"ng-click"=>"$root.setRoute('#{new_settings_email_path}')"}=t("b1_admin.add")
          %h3.panel-title=t("b1_admin.list")

        .panel-body
          %div{"cg-busy" => "{'promise': itemsPromise,'backdrop': true,'message': '#{t('b1_admin.loading')}'}"}
            %table.table.table-striped#itemsTable{"ng-table"=>"itemsTable"}
              %tr{"ng-repeat" => "item in data"}
                %td{"data-title" => "'#{t('b1_admin.title')}'"}
                  {{item.subject}}
                %td{"data-title" => "'#{t('b1_admin.seo_name')}'"}
                  {{item.seo_name}}
                %td{"data-title" => "'#{t('b1_admin.seo_name')}'"}
                  {{item.agent}}
                %td{"data-title" => "'#{t('b1_admin.active')}'"}
                  %span.label.text-lg{"ng-class"=>"{'label-danger':!item.active,'label-success': item.active }"}
                    %span{"ng-switch" => "", :on => "item.active"}
                      %span{"ng-switch-when" => "true"}
                        =t('b1_admin._true')
                      %span{"ng-switch-default" => ""}=t('b1_admin._false')

                %td.min-w-td.text-center{"data-title" => "'#{t('b1_admin.user_actions')}'"}
                  - if user_can?(:destroy)
                    %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-danger.fa.fa-times.add-tooltip{"tooltip" => t("b1_admin.delete"), :href => "#","ng-click" => "destroy(item)"}
                  - if user_can?(:edit)
                    %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-success.fa.fa-pencil.add-tooltip{"tooltip" => t("b1_admin.edit"),href:"#{settings_emails_path}/{{item.id}}/edit/","ng-click"=>"$root.setRoute('#{settings_emails_path}/' + item.id + '/edit/')",style:"margin-right: 15px;"}


  - content_for :aside do
    .hidden
  %aside#aside-container
    #aside
      .panel
        .panel-heading
          %h3.panel-title
            %i.fa.fa-lg.fa-navicon.filter-toggler
            %span=t("b1_admin.filter")
        = form_tag settings_emails_path ,class: "form-horizontal",novalidate: true,name: :itemForm do
          .panel-body
            .col-sm-12
              .form-group{"ng-class" => "{'has-error': itemForm.agent_id.$invalid && itemForm.$submitted}"}
                = label_tag :agent_id, t("b1_admin.agent"), class:"control-label"
                %select.form-control{"ng-model" => "filters.agent_id", "ng-options" => "o.id as o.name for o in #{@agents.to_json}"}
              .form-group{"ng-class" => "{'has-error': itemForm.seo_name.$invalid && itemForm.$submitted}"}
                = label_tag :seo_name, t("b1_admin.seo_name"), class:"control-label"
                = text_field_tag :seo_name,"" ,class:"form-control","ng-minlength"=>3, "ng-model"=>"filters.seo_name"

          .panel-footer.text-right
            %a.btn.btn-success{"ng-click"=>"filter()"}=t("b1_admin.do_filter")
            %a.btn.btn-warning{"ng-click"=>"reset()"}=t("b1_admin.reset_filter")
