%div{:"ng-controller"=>"CrudController",:"data-url"=>school_courses_path,:"data-delete-text"=>t("b1_admin.delete_confirm")}
  #content-container
    #page-title
      %h1.page-header.text-overflow
        Курси
    #page-content
      .row
        .panel
          .panel-heading
            .panel-control
              %button.btn.btn-default{:name => "refresh", :title => "Refresh", :type => "button","ng-click"=>"itemsTable.reload()"}
                %i.fa.fa-refresh.icon-refresh
              %a.btn.btn-primary{href:new_school_course_path,"ng-click"=>"$root.setRoute('#{new_school_course_path}')"}=t("b1_admin.add")
            %h3.panel-title Список курсов

          .panel-body
            %div{style:"margin-top: 30px;"}
            %div{"cg-busy" => "{'promise': itemsPromise,'backdrop': true,'message': '#{t('b1_admin.loading')}'}"}
              %table.table.table-hover.table-striped.table-vcenter#itemsTable{"ng-table"=>"itemsTable"}
                %tr{"ng-repeat" => "item in data"}
                  %td{"data-title" => "'#{t('b1_admin.title')}'"}
                    {{item.name}}
                  %td{"data-title" => "'#{t('b1_admin.logo')}'"}
                    %img.img-circle.img-sm{"ng-src" => "{{item.logo}}"}/
                  %td{"data-title" => "'#{t('b1_admin.active')}'"}
                    %span.label.text-lg{"ng-class"=>"{'label-danger':!item.active,'label-success': item.active }"}
                      %span{"ng-switch" => "", :on => "item.active"}
                        %span{"ng-switch-when" => "true"}
                          =t('b1_admin._true')
                        %span{"ng-switch-default" => ""}=t('b1_admin._false')
                  %td.min-w-td.text-center{"data-title" => "'#{t('b1_admin.user_actions')}'"}
                    - if user_can?(:edit)
                      %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-success.fa.fa-pencil.add-tooltip{"tooltip" => t("b1_admin.edit"),href:"#{school_courses_path}/{{item.id}}/edit/","ng-click"=>"$root.setRoute('#{school_courses_path}/' + item.id + '/edit/')",style:"margin-right: 15px;"}
                    - if user_can?(:destroy)
                      %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-danger.fa.fa-times.add-tooltip{"tooltip" => t("b1_admin.delete"), :href => "#","ng-click" => "destroy(item)"}
