<div class="container user-cabinet"  data-ctrl="Cabinet">
  <div class="row  ">
     <div class="container">
        <div class="row row-edge">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box_2">
              <div class="cherry-box  ">
                 <div class="inner" style="background-color:#ffffff;">
                    <div class="cherry-tabs cherry-tabs-style-default  " data-active="1">
                        <div class="cherry-tabs-nav">
                          <span class="" data-url="" data-target="blank"><%= t("uex.cabinet.partners") %></span>
                          <span class="cherry-tabs-current" data-url="" data-target="blank"><%= t("uex.cabinet.profile") %></span>
                          <span class="" data-url="" data-target="blank"><%= t("uex.cabinet.my_baner") %></span>

                          <span class="" data-url="" data-target="blank"><%= t("uex.cabinet.messages") %></span>
                          <span class="" data-url="" data-target="blank"><%= t("uex.cabinet.orders") %></span>
                          <span class="" data-url="" data-target="blank"><%= t("uex.cabinet.my_payments") %></span>
                        </div>
                       <div class="cherry-tabs-panes">
                          <%= render "users/includes/stat"%>
                          <%= render "users/includes/profile"%>
                          <%= render "users/includes/baners"%>
                          <%= render "users/includes/messages"%>
                          <%= render "users/includes/products"%>
                          <%= render "users/includes/transactions"%>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<%#= File.read("/home/adok/WWW/uex/app/assets/stylesheets/theme/material-design.css.scss").scan(/material-design-(.+?)\:before/m).flatten.map do |icon|
  "<i class=\"material-design-#{icon}\"></i>"
 end.join("").html_safe

%>
