<div class="container user-cabinet" >
  <div class="row  ">
     <div class="container">
        <div class="row row-edge">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box_2">
              <div class="cherry-box  ">
                 <div class="inner" style="background-color:#ffffff;">
                    <div class="cherry-tabs cherry-tabs-style-default  " data-active="1">
                        <div class="cherry-tabs-nav">
                          <span class="cherry-tabs-current" data-url="" data-target="blank"><%= t("uex.cabinet.profile") %></span>
                          <span class="" data-url="" data-target="blank"><%= t("uex.cabinet.my_baner") %></span>
                          <span class="" data-url="" data-target="blank"><%= t("uex.cabinet.partners") %></span>
                          <span class="" data-url="" data-target="blank"><%= t("uex.cabinet.messages") %></span>
                          <span class="" data-url="" data-target="blank"><%= t("uex.cabinet.orders") %></span>
                          <span class="" data-url="" data-target="blank"><%= t("uex.cabinet.my_payments") %></span>
                        </div>
                       <div class="cherry-tabs-panes">
                          <%= render "users/includes/profile"%>
                          <%= render "users/includes/baners"%>

                          <div class="cherry-tabs-pane cherry-clearfix  " style="display: none;">
                             <div class="row row-edge  ">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><img class="alignnone size-full wp-image-551" src="http://livedemo00.template-help.com/wordpress_55766/wp-content/uploads/2015/05/page1-img3.jpg" alt="page1-img3" width="336" height="336"></div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                   <h2>Normal laboratory value</h2>
                                   <p>Normal test values are expressed as a range, which is based on the average values in a healthy population. That is, 95% of healthy people have values within this range. However, average values are slightly different for women and men and may vary by age. For some tests, these values also vary among laboratories. Thus, when doctors get a laboratory test result, the laboratory also gives them its own normal range for that test.</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                   <h2>Get your results online</h2>
                                   <p>We ofeer a free, Web-based service that allows you to view, download, and print your lab test results. In order to receive your results, you must register at our website. It is safe and secure, and it’s easy to create an account. Lab test results are are also released to your ordering physician. We provide secure, online storage of your health information. Only final results that are within normal limits will be reported to you.</p>
                                </div>
                             </div>
                          </div>
                          <%= render "users/includes/messages"%>
                          <div class="cherry-tabs-pane cherry-clearfix  " style="display: none;">
                             <div class="row row-edge  ">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                   <h2>Instructions to follow</h2>
                                   <p>Our healthcare professionals who arrange your tests will tell you whether there are any specific instructions you need to follow before your test. You can eat and drink as normal before some blood tests. In other cases, you will be instructed not to eat or drink (other than water) before your test. You may also be told not to drink alcohol or not to smoke before your test. If you are nervous or have a tendency to feel woozy or faint, tell the phlebotomist before you begin.</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><img class="alignnone size-full wp-image-560" src="http://livedemo00.template-help.com/wordpress_55766/wp-content/uploads/2015/05/page1-img4.jpg" alt="page1-img4" width="336" height="336"></div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                   <h2>Easy tips to remember</h2>
                                   <div class="cherry-list font-icon cherry-list_4058   ">
                                      <ul>
                                         <li><span class="material-design-verification24 list-icon" style=""></span><a href="#">No medicine before tests</a></li>
                                         <li><span class="material-design-verification24 list-icon" style=""></span><a href="#">No smoking and alcool</a></li>
                                         <li><span class="material-design-verification24 list-icon" style=""></span><a href="#">Consult with your doctor</a></li>
                                         <li><span class="material-design-verification24 list-icon" style=""></span><a href="#">Keep calm</a></li>
                                         <li><span class="material-design-verification24 list-icon" style=""></span><a href="#">No caffeinated beverages</a></li>
                                         <li><span class="material-design-verification24 list-icon" style=""></span><a href="#">Fresh air and positive emotions</a></li>
                                      </ul>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<%= File.read("/home/adok/WWW/uex/app/assets/stylesheets/theme/material-design.css.scss").scan(/material-design-(.+?)\:before/m).flatten.map do |icon|
  "<i class=\"material-design-#{icon}\"></i>"
 end.join("").html_safe

%>
