<div class="container">
   <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
         <article class="clearfix post-596 page type-page status-publish hentry" id="post-596">
            <div class="testimonials-wrap testimonials-page">
               <div class="testimonials-list">
                  <% @users.each do |user|%>
                     <div id="quote-114" class="testimonials-item item-1 odd clearfix">
                        <img width="100" height="100" src="<%= user.avatar(:thumb)%>" class="avatar wp-post-image" alt="<%= user.name%>">
                        <blockquote>
                           <p><%= user.desc%></p>
                           <footer><cite class="author" title="<%= user.name%>"><a href="<%= user_path(user) %>"><%= user.name%></a></cite></footer>
                        </blockquote>
                     </div>
                  <% end %>
               </div>
            </div>
         </article>
      </main>
   </div>
</div>
