<div class="container user-cabinet" data-ctrl="Cabinet">

  <div class="row  ">
     <div class="container">
        <div class="row row-edge">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box_2">
              <div class="cherry-box  ">
                 <div class="inner" style="background-color:#ffffff;">
                    <div class="cherry-tabs cherry-tabs-style-default  " data-active="1">
                       <div class="cherry-tabs-panes">
                          <div class="cherry-tabs-pane cherry-clearfix  " style="display: block;">
                             <div class="row row-edge  ">
                                <div class="col-xs-12 col-sm-2 col-md-4 col-lg-4">
                                  <div class="media-content">
                                    <img class="image croped-image" src="<%= current_user.avatar %>" alt="paeg1-img1" width="336" height="336">
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 extra_indent">
                                   <h2><%= @user.name %></h2>
                                   <p><%= @user.desc.present? ? current_user.desc : t("uex.not_indicated") %></p>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                                   <h2><%= t("uex.contact_data")%></h2>
                                   <div class="cherry-list font-icon cherry-list_4967   ">
                                      <ul>



                                        <% if @user.phones.present? %>
                                          <% @user.phones.each do |item|%>
                                            <li>
                                              <span class="material-design-phone370 list-icon"></span>
                                              <a href="#"><%= item%></a>
                                            </li>
                                          <% end %>
                                        <% else %>
                                          <li>
                                            <span class="material-design-phone370 list-icon"></span>
                                            <a href="#"><%= t("uex.not_indicated")%></a>
                                          </li>
                                        <% end %>



                                        <% if @user.addresses.present? %>
                                          <% @user.addresses.each do |item|%>
                                            <li>
                                              <span class="material-design-home149 list-icon"></span>
                                              <a href="#"><%= item%></a>
                                            </li>
                                          <% end %>
                                        <% else %>
                                          <li>
                                            <span class="material-design-home149 list-icon"></span>
                                            <a href="#"><%= t("uex.not_indicated")%></a>
                                          </li>
                                        <% end %>




                                        <% if @user.websites.present? %>
                                          <% @user.websites.each do |item|%>
                                            <li>
                                              <span class="material-design-world96 list-icon"></span>
                                              <a href="#"><%= item%></a>
                                            </li>
                                          <% end %>
                                        <% else %>
                                          <li>
                                            <span class="material-design-world96 list-icon"></span>
                                            <a href="#"><%= t("uex.not_indicated")%></a>
                                          </li>
                                        <% end %>




                                        <% if @user.emails.present? %>
                                          <% @user.emails.each do |item|%>
                                            <li>
                                              <span class="material-design-black402 list-icon"></span>
                                              <a href="#"><%= item%></a>
                                            </li>
                                          <% end %>
                                        <% else %>
                                          <li>
                                            <span class="material-design-black402 list-icon"></span>
                                            <a href="#"><%= t("uex.not_indicated")%></a>
                                          </li>
                                        <% end %>
                                      </ul>
                                   </div>
                                   <% if logged_in? && current_user != @user %>
                                    <div class="entry-permalink"><a href="<%= url("users/#{current_user.id}/messages/#{@user.id}") %>"><%= t("uex.send_message")%></a></div>
                                   <% end %>
                                </div>
                             </div>
                             <hr/>
                              <% @user.pages.each do |item|%>
                                <div class="row row-edge one-baner ">
                                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <img class="alignnone size-full wp-image-547" src="<%= item.logo%>" alt="page1-img2" width="336" height="336">
                                  </div>
                                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                     <h2><a href="<%= item.link%>" target="_blank"><%= item.title%></a></h2>
                                     <p><%= truncate(item.anons,length:180, omission: "...")%></p>
                                  </div>
                                </div>
                              <% end %>


                          </div>

                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
