<div data-ctrl="Form" style="display:none" id="lesson_subscribe_popup">
  <div class="overlay"></div>
    <!-- підписка на новини -->
  <div class="form-block">
    <a href="#" class="close"></a>
    <h2><%= t("school.lesson_subscribe_popup_header")%></h2>
    <%= form_for @subscriber, url: subscribe_path do |f|%>
       <%=f.hidden_field "#{@links_type}_subscribe", value: true  %>
       <%=f.hidden_field "course_id", value: 0  %>
      <div class="user-data">
        <div class="form-row">
          <%=f.text_field :name, class:"txtinput fl", placeholder: t('school.name_plc'), required: true  %>
          <select>
            <option>ваш рівень англійської</option>
            <option>starter</option>
            <option>elementary</option>
            <option>pre-intermediate</option>
            <option>intermediate</option>
            <option>upper-intermediate</option>
            <option>advanced</option>
          </select>
        </div>
        <div class="form-row">
          <%=f.email_field :email, class:"txtinput fl", placeholder: t('school.email_plc'), required: true  %>
          <a href="#" class="subscribe test"><%= t("school.subscribe_for_lesson")%></a>
        </div>
        <div class="form-row">
          <%=f.text_field :phone, class:"txtinput fl", placeholder: t('school.phone_plc'), required: true  %>
          <input type="checkbox">
          <label>Я хочу отримувати новини від SPEAK на скриньку</label>
        </div>
        <div class="form-row">
          <input type="text" class="txtinput" id="form-calendar" placeholder="оберіть дату та групу">
        </div>
      </div>

      <a href="#" class="subscribe js-submit"><%= t("school.subscribe_for_lesson")%></a>
    <% end%>

    <div class="owl error" style="display:none">
      <p class="bobble"><%= t("school.fields_wit_errors_text").html_safe%></p>
    </div>
  </div>
</div>

<script>
  $('#form-calendar').datepicker({
    changeYear: true,
     /*beforeShow: function() {
      setTimeout(function() {
        $("#ui-datepicker-div").find("select").selectbox();
      }, 10);*/
  });

  $("#form-calendar").blur(function() {
    $(this).datepicker("hide");
  });
</script>