<script type="text/javascript">
  var courses   = <%= raw courses.map{|c|  {id: c.id, name: c.name} }.to_json%>;
  var courses_names   = <%= raw courses.inject({}){|hash,c|  hash[c.id] = c.name; hash  }.to_json%>;
</script>
<div class="courses-block" id="courses">
  <div class="container">
    <div class="courses-list">
    <% if @links_type == "school" %>
      <h2><%= t("school.tematic_courses")%></h2>
      <p><%= t("school.courses_desc").html_safe%></p>
    <% end %>
    <% if @links_type == "club" %>
      <h2><%= t("school.tematic_groups")%></h2>
      <p class="courses-desc"><%= t("school.club_courses_desc").html_safe %></p>
      <p class="attention"><%= t("school.payment_variant").html_safe %></p>
    <% end %>
      <% courses.in_groups_of(4,false).each do |group|%>
        <div class="row">
          <% group.each_with_index do |course,idx|%>
          <% cls = idx == 0 && group.count == 3 ? "offset" : idx == 0 && group.count == 2 ? "offset-3" : idx == 0 && group.count == 1 ? "offset-4" : ""  %>
          <div class="item <%= cls%>" >
            <a href="#" class="<%= course.seo%> js-link" data-cls="<%= course.seo%>">
              <div class="icon">
                <img src="<%= course.logo(:original) %>" alt="<%= course.name %>">
              </div>
              <div class="title">
                <p><%= course.name %></p>
                <% if @links_type =="school"%>
                  <ul class="publish-date">
                    <li class="date"><%= l(course.date_start, format: "%d.%m.%Y") %></li>
                  </ul>
                <% end%>
              </div>
            </a>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="course-description">
  <div class="container">
    <a href="#" class="close"></a>
    <div class="clear"></div>
      <div class="cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="0">
        <!-- prev/next links -->
        <span class="cycle-prev"></span>
        <span class="cycle-next"></span>
        <% courses.each do |course| %>
          <div class="s-item <%= course.seo %>">
            <div class="container_small">
              <h2><%= course.name %></h2>
              <% if is_club %>
              <p><%= course.desc.to_s.html_safe %></p>
              <% else %>
                <%if course.heading.present? %>
                  <p class="yellow"><%= course.heading %></p>
                <%end %>
                <%if course.desc.present? %>
                  <p><%= course.desc %></p>
                <%end %>
                <%if course.period.present? %>
                  <strong><%= course.period %></strong>
                <%end %>



                <div class="text-left">
                  <%if course.learn_desc.present? %>
                    <span class="yellow">Ви навчитеся:</span>
                    <ul class="list">
                      <% course.learn_desc.split("|||").each do |text|%>
                      <li><%= text%></li>
                      <% end %>
                    </ul>
                   <%end %>



                  <%if course.detail_desc.present? %>
                    <span class="yellow">Деталі курсу:</span>
                    <ul class="list">
                      <% course.detail_desc.split("|||").each do |text|%>
                      <li><%= text%></li>
                      <% end %>
                    </ul>
                  <%end %>
                  <%if course.price.present? %>
                    <strong class="yellow"><%= course.price %></strong>
                  <%end %>
                </div>

              <% end %>
              <a data-id="<%= course.id %>" href="#" class="schedule"><%= t("school.month_schedule")%></a>
            </div>
            <a href="#" data-id="<%= course.id %>" class="subscribe course_subscribe"><%= t("school.subscribe_to_earning")%></a>
            <% if course.fb_link.present? %>
              <div class="fb-group">
              <a href="#" class="social-icon"><%= image_tag "fb-icon.png" %></a>
              <%= t("school.fb_course_link",link: course.fb_link).html_safe%>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div class="calendar-block" id="calendar_block">
  <div class="container">
    <h2><%= t("school.calendar")%></h2>
    <div class="group-select">
      <select name="course" id="course">
        <option disabled ><%= t("school.#{is_club ? 'choose_group' : 'choose_course'}")%></option>
        <option value="0" ><%= t("school.#{is_club ? 'all_groups' : 'all_courses'}")%></option>
        <%= courses.each do |course| %>
          <option value="<%= course.id%>" ><%= course.name %></option>
        <% end %>
      </select>
    </div>
    <div class="owl alternative">
      <p class="bobble"><%= t("school.choose_your_course")%></p>
    </div>
    <div class="custom-calendar-wrap custom-calendar-full">
      <div class="custom-header clearfix">
        <h3 class="custom-month-year">
          <span id="custom-month" class="custom-month"></span>
          <nav>
            <span id="custom-prev" class="custom-prev"></span>
            <span id="custom-next" class="custom-next"></span>
            <span id="custom-current" class="custom-current" title="Got to current date"></span>
          </nav>
        </h3>
      </div>
      <div id="calendar" class="fc-calendar-container"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
