<div class="review">
  <div class="container">
    <h2><%= t("school.reviews")%></h2>

    <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="0">
        <!-- prev/next links -->
        <span class="cycle-prev"></span>
        <span class="cycle-next"></span>
      <% reviews.each do |item|%>
        <div class="s-item">
          <div class="container_medium">
            <div class="row">
              <div class="image-holder">
                <%= image_tag fb_avatar( item["reviewer"]["id"] )%>
              </div>

              <div class="text">
                <h6><a href="<%= item["link"]%>"><%= item["reviewer"]["name"] %></a></h6>
                <ul class="publish-date">
                  <li class="date"><%= fb_date(item["created_time"]) %></li>
                </ul>

                <p><%= truncate(item["review_text"], length: 70) %><a href="<%= item["link"]%>">Показати більше...</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
