<div class="other-topics">
  <div class="wave one"></div>
  <div class="wave two"></div>
  <div class="container">
    <div class="ship"></div>
    <h2><%=t("school.blog_simple_title")%></h2>
    <div class="row">
      <% similar.each do |page|%>
        <div class="item">
          <a href="<%= url("blog/category/#{page.category_seo_name}") %>">
            <img src="<%= page.logo(:medium)%>" alt="<%= page.title%>">
          </a>
          <h5><a href="<%= url("blog/category/#{page.category_seo_name}") %>"><%= page.category_title%></a></h5>

          <p><strong><%= page.title%></strong></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
