<div data-ctrl="Form" style="display:none" id="vavancy_subscribe_popup">
  <div class="overlay"></div>
    <!-- підписка на новини -->
  <div class="form-block">
    <a href="#" class="close"></a>
    <h2><%= t("school.vavancy_subscribe_popup_header")%></h2>
    <%= form_for @cv, url: send_cv_path do |f|%>
      <div class="user-data">
        <div class="form-row">
          <%=f.text_field :name, class:"txtinput fl", placeholder: t('school.name_plc'), required: true  %>
          <%=f.text_field :phone, class:"txtinput fr", placeholder: t('school.phone_plc'), required: true  %>
        </div>
        <div class="form-row">
          <%=f.email_field :email, class:"txtinput fl", placeholder: t('school.email_plc'), required: true  %>
        </div>
        <div class="form-row">
          <p class="load"><%= t("school.add_cv_file")%></p>
          <div class="choose-file">
            <p><%= t("school.choose_file")%></p>
            <%=f.file_field :document, required: true  %>
          </div>
        </div>
      </div>

      <a href="#" class="subscribe js-submit-with-file"><%= t("school.subscribe_for_vacancy")%></a>
    <% end%>

    <div class="owl error hidden">
      <p class="bobble"><%= t("school.fields_wit_errors_text").html_safe%></p>
    </div>
  </div>
</div>
