<div class="container user-cabinet" data-ctrl="Cabinet">
   <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="author-bio clearfix">
            <figure class="author-bio_avatar alignleft "><div class="cherry-services_icon"><i class="material-design-double126"></i></div></figure>
            <h3><%= t("uex.add_left_header").html_safe%></h3>
            <div class="description"><%= t("uex.add_left_desc").html_safe%></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="author-bio clearfix">
            <figure class="author-bio_avatar alignleft "><div class="cherry-services_icon"><i class="material-design-briefcase50"></i></div></figure>
            <h3><%= t("uex.add_right_header").html_safe%></b></a></h3>
            <div class="description"><%= t("uex.add_right_desc").html_safe%></div>
          </div>
        </div>
      </div>
         <article class="clearfix post-43 page type-page status-publish hentry" id="post-43">
            <div class="portfolio-wrap">
              <div class="container">
                <article class="clearfix post-43 page type-page status-publish hentry" id="post-43">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="notice">
                      <% if flash[:error].present? %>
                        <p style="color:red"><%=  flash[:error].html_safe   %></p>
                      <% end%>
                    </div>

                   <div role="form" class="wpcf7" id="wpcf7-f180-p47-o1" lang="en-US" dir="ltr">
                      <div class="screen-reader-response"></div>
                      <%= form_for @item, url:  add_baner_path , class:"wpcf7-form page-form" do |f| %>
                         <div class="row">
                            <div class="entry-meta entry-meta-top">
                               <span class="photo-resolution"><i class="material-design-mountain31"></i><%= t("uex.file_definition")%></span>
                            </div>
                           <div class="media-content">

                             <%= f.file_field :logo, style: "display:none",:"data-img-id"=>"baner-img" %>
                             <img width="1088" height="387" style="height: 387px!important;" src="<%= @item.logo %>" class="image croped-image" id="baner-img" />
                             <div class="rollover-content ">
                               <div class="table-display">
                                 <div class="links-container custom-links custom-hover-zoom table-cell">
                                   <a class="item-link zoomlink magnific-popup-link" href="#"></a>
                                 </div>
                               </div>
                             </div>
                           </div>



                            <figure class="entry-thumbnail cherry-thumb-l aligncenter large">

                            </figure>
                         </div>
                         <div class="row">
                            <div class="row">
                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                     <span class="wpcf7-form-control-wrap your-name">
                                        <select name="anonim_page[country_id]" required="required">
                                           <option disabled <%= @item.country_id.present? ? "" : "selected" %> value="" ><%= t("uex.choose_country")%></option>
                                           <%= options_for_select(@countries) %>
                                        </select>
                                     </span>
                                  </div>
                                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                     <span class="wpcf7-form-control-wrap your-name">
                                        <select name="anonim_page[city_id]" required="required">
                                           <option disabled <%= @item.city_id.present? ? "" : "selected" %> value="" ><%= t("uex.choose_city")%></option>
                                           <%= options_for_select(@cities) %>
                                        </select>
                                     </span>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                     <span class="wpcf7-form-control-wrap your-name">
                                        <select name="anonim_page[category_id]" required="required">
                                           <option disabled <%= @item.category_id.present?  && !@item.category_id.zero?  ? "" : "selected" %> value=""><%= t("uex.chose_category")%></option>
                                           <% @categories.each do |cat| %>
                                               <option value="<%= cat.id%>" class="label" <%= @item.category_id.present? && @item.category_id==cat.id  ? "selected" : "" %>><%= cat.title%></option>
                                               <% cat.childrens.each do |cat| %>
                                                     <option value="<%= cat.id%>" class="label" <%= @item.category_id.present? && @item.category_id==cat.id  ? "selected" : "" %>><%= cat.title%></option>
                                               <% end %>
                                           <% end %>
                                        </select>
                                     </span>
                                  </div>
                               </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <span class="wpcf7-form-control-wrap your-name">
                                  <%=f.email_field :email, class:"wpcf7-form-control wpcf7-text", placeholder: t("uex.email_plc") ,required: true%>
                               </span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <span class="wpcf7-form-control-wrap your-name">
                                  <%=f.text_field :name, class:"wpcf7-form-control wpcf7-text", placeholder: t("uex.company_plc") ,required: true%>
                               </span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <span class="wpcf7-form-control-wrap your-name">
                                  <%=f.text_field :phone, class:"wpcf7-form-control wpcf7-phone", placeholder: t("uex.phone_plc") ,required: true%>
                               </span>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <span class="wpcf7-form-control-wrap your-name">
                                  <%=f.text_field :title, class:"wpcf7-form-control wpcf7-text", placeholder: t("uex.title_plc") ,required: true%>
                               </span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <span class="wpcf7-form-control-wrap your-message">
                               <%=f.text_area :anons, class:"wpcf7-form-control wpcf7-textarea", placeholder: t("uex.anons_plc"),cols:"3", rows:"3", style: "height: 80px;"%>
                               </span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <span class="wpcf7-form-control-wrap your-message">
                               <%=f.text_area :desc, class:"wpcf7-form-control wpcf7-textarea", placeholder: t("uex.message_plc"), id: "summernote", escape: false  %>
                               </span>
                            </div>
                         </div>
                         <div class="submit-wrap">
                            <input type="submit" value="<%= t("uex.submit")%>" class="wpcf7-form-control wpcf7-submit" />
                         </div>
                      <% end %>
                   </div>
                </div>
                </article>
              </div>
            </div>
         </article>
         <%= render "shared/order_desc", with_shadow: true %>
      </main>
   </div>
</div>

<%#= File.read("/home/adok/WWW/uex/app/assets/stylesheets/theme/material-design.css.scss").scan(/material-design-(.+?)\:before/m).flatten.map do |icon|
  "<i class=\"material-design-#{icon}\"></i>"
 end.join("").html_safe

%>


