<div class="container">
   <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
         <article class="clearfix post-5 page type-page status-publish " id="post-5">
            <div class="entry-meta entry-meta-top"></div>
            <div class="entry-content">
               <div class="row  " >
                  <div class="container">
                     <div class="row row-edge">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <div class="row">
                             <div class="col-md-12">
                              <div class="container">
                                 <div id="primary" class="content-area">
                                    <main id="main" class="site-main" role="main">
                                      <% @pages.each do |page|%>
                                        <article class="cherry-has-entry-date cherry-has-entry-author cherry-has-entry-comments clearfix post-22 post type-post status-publish format-standard has-post-thumbnail category-allergyasthma baner-article" id="post-22">
                                          <header class="entry-header">
                                             <h2 class="entry-title"><a href="<%= url(page.link) %>" rel="bookmark"><%= page.title %></a></h2>
                                          </header>
                                          <div class="entry-meta entry-meta-top">
                                             <span class="posted-on"><time class="entry-date published" datetime="<%= page.created_at %>"><%= l(page.created_at, format: :uex) %></time></span>
                                             <span class="comments-link"><a href="#">3 отзыва</a></span>
                                          </div>
                                          <figure class="entry-thumbnail cherry-thumb-l aligncenter large">
                                            <a href="<%= url(page.link) %>" title="<%= page.title %>">
                                              <img src="<%= page.logo(:home) %>" class="attachment-cherry-thumb-l wp-post-image" alt="<%= page.title %>"/>
                                            </a>
                                          </figure>
                                          <div class="entry-content"><%= page.anons %></div>
<!--                                           <div class="entry-permalink">
                                            <a href="<%= url(page.link) %>" class="cherry-btn cherry-btn-primary cherry-btn-extra-large"><%= t("uex.read_more")%></a>
                                          </div> -->
                                          <div class="entry-meta entry-meta-bottom"></div>
                                        </article>




                                      <% end %>

                                      <nav class="navigation pagination" role="navigation">
                                          <h2 class="screen-reader-text">Pages:</h2>
                                          <%= will_paginate(@pages, class: "nav-links", renderer: PaginationHelper::LinkRenderer) %>
                                      </nav>
                                    </main>
                                 </div>
                              </div>
                             </div>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </article>
      </main>
   </div>
</div>
