<div  data-ctrl="Main">
  <div class="container">
    <div class="contacts-block">
      <h2><%= t("school.our_addresses")%></h2>
      <div class="col-6">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.7579476243427!2d24.026615265824013!3d49.84700546644472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add0cd987b19f%3A0x9548d76e18e1786d!2z0LLRg9C7LiDQnNGD0LvRj9GA0YHRjNC60LAsIDLQkCwg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1sru!2sua!4v1447077365230" width="454" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-6">
        <% @addresses.each do |address| %>
          <h5 class="<%= address.is_main ? "green" : "orange" %>"><%= address.title %>:</h5>
          <p>
            <%= image_tag "spot#{ address.is_main ? '' : 2  }.png" %>
            <%= address.name %>
          </p>
        <% end %>
        <div class="phone">
          <h5 class="green">Телефони:</h5>
          <% @addresses.map(&:phones).join.split(",").flatten.compact.each do |phone|%>
            <p><strong><%= phone %></strong></p>
          <% end %>
        </div>

        <div class="buttons">
          <a href="#"><%= t("school.call_back")%></a>
          <a href="mailto:<%=  @addresses.map(&:email).compact.first  %>"><%= t("school.send_mail")%></a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
