<div class="container">
   <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
         <article class="clearfix post-5 page type-page status-publish " id="post-5">
            <div class="entry-meta entry-meta-top"></div>
            <div class="entry-content">
<!--                <div class="row">
                  <div class="container">
                     <div class="row row-edge">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                           <div class="cherry-swiper-carousel-container">
                              <section id="cherry-swiper-carousel-1" class="cherry-swiper-carousel swiper-container template-swiper_carousel_1 carousel_1" data-slides-per-view="1"data-slides-per-group="1"data-slides-per-column="1"data-space-between-slides="0"data-duration-speed="300"data-swiper-loop="1"data-free-mode=""data-grab-cursor="1"data-mouse-wheel=""data-centered-slide=""data-swiper-effect="slide"data-uniq-id="swiper-carousel-1">
                                 <div class="swiper-wrapper">
                                    <article class="cherry-swiper-carousel-slide swiper-slide post-item item-0 odd">
                                       <div class="inner clearfix">
                                          <figure class="post-thumbnail">
                                            <a href="<%= url("/")%>" title="" class="post-thumbnail_link">
                                              <%= image_tag "banner.png", class:"wp-post-image croped-image " %>
                                            </a>
                                          </figure>
                                       </div>
                                    </article>

                                    <article class="cherry-swiper-carousel-slide swiper-slide post-item item-1 even">
                                       <div class="inner clearfix">
                                          <figure class="post-thumbnail"><a href="http://livedemo00.template-help.com/wordpress_55766/gastroenterology/can-i-eat-and-drink-before-having-a-blood-test/" title="Can I eat and drink before having a blood test?" class="post-thumbnail_link"><img class="wp-post-image croped-image " data-ratio="1" width="570" height="570" src="http://livedemo00.template-help.com/wordpress_55766/wp-content/uploads/2015/05/post-2-570x570.jpg" alt=""></a></figure>
                                       </div>
                                    </article>

                                    <article class="cherry-swiper-carousel-slide swiper-slide post-item item-2 odd">
                                       <div class="inner clearfix">
                                          <figure class="post-thumbnail"><a href="http://livedemo00.template-help.com/wordpress_55766/genetics/impact-the-heart-of-business/" title="Impact &#8211; The Heart of Business" class="post-thumbnail_link"><img class="wp-post-image croped-image " data-ratio="1" width="570" height="570" src="http://livedemo00.template-help.com/wordpress_55766/wp-content/uploads/2015/05/post-3-570x570.jpg" alt=""></a></figure>
                                       </div>
                                    </article>

                                 </div>
                                 <div id="swiper-carousel-1-pagination" class="swiper-pagination"></div>
                              </section>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                           <div class="row row-edge  " >
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <a class="cherry-btn cherry-btn-primary cherry-btn-extra-large cherry-btn-inline cherry-btn-fade button_1 button_color_1 " target="_self" href="#">
                                  <span class="material-design-map103 cherry-btn-icon icon-position-left" ></span>
                                  <span class="cherry-btn-content-wrap"><%= t("uex.add_my_baner")%></span>
                                </a>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <a class="cherry-btn cherry-btn-primary cherry-btn-extra-large cherry-btn-inline cherry-btn-fade button_1 button_color_2 " target="_self" href="#">
                                  <span class="material-design-user157 cherry-btn-icon icon-position-left" ></span>
                                  <span class="cherry-btn-content-wrap">&nbsp;&nbsp;<%= t("uex.my_cabinet")%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </a>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <a class="cherry-btn cherry-btn-primary cherry-btn-extra-large cherry-btn-inline cherry-btn-fade button_1 button_color_3 " target="_self" href="#">
                                  <span class="material-design-window57 cherry-btn-icon icon-position-left" ></span>
                                  <span class="cherry-btn-content-wrap"><%= t("uex.baner_up")%> &nbsp;</span>
                                </a>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <a class="cherry-btn cherry-btn-primary cherry-btn-extra-large cherry-btn-inline cherry-btn-fade button_1 button_color_1 " target="_self" href="#">
                                  <span class="material-design-home149 cherry-btn-icon icon-position-left" ></span>
                                  <span class="cherry-btn-content-wrap"><%= t("uex.buy_page")%></span>
                                </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> -->
               <div class="row  " >
                  <div class="container">
                     <div class="row row-edge">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <div class="row">
                             <div class="col-md-12">
                              <div class="container">

                                      <div class="author-bio clearfix">
                                        <div role="form" class="wpcf7" id="wpcf7-f180-p47-o1" lang="en-US" dir="ltr">
                                          <form class="new_feedback" id="new_feedback" action="/feedback" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
                                             <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                   <span class="wpcf7-form-control-wrap your-name">
                                                      <input class="wpcf7-form-control wpcf7-text" placeholder="ФИО" type="text" value="" name="feedback[name]" id="feedback_name">
                                                   </span>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                   <span class="wpcf7-form-control-wrap your-email">
                                                      <input class="wpcf7-form-control wpcf7-email" placeholder="Email" type="text" value="" name="feedback[email]" id="feedback_email">
                                                   </span>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                   <span class="wpcf7-form-control-wrap phone">
                                                      <input class="wpcf7-form-control wpcf7-phone" placeholder="Телефон" type="text" value="" name="feedback[phone]" id="feedback_phone">
                                                   </span>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                   <span class="wpcf7-form-control-wrap">
                                                      <input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit">
                                                   </span>
                                                </div>
                                              </div>
                                            </div>
                                          </form>
                                        </div>
                                      </div>

                                 <div id="primary" class="content-area">
                                    <main id="main" class="site-main" role="main">
                                      <% @pages.each do |page|%>
                                        <article class="cherry-has-entry-date cherry-has-entry-author cherry-has-entry-comments clearfix post-22 post type-post status-publish format-standard has-post-thumbnail category-allergyasthma baner-article" id="post-22">
                                          <header class="entry-header">
                                             <h2 class="entry-title"><a href="<%= url(page.link) %>" rel="bookmark"><%= page.title %></a></h2>
                                          </header>
                                          <div class="entry-meta entry-meta-top">
                                             <span class="posted-on"><time class="entry-date published" datetime="<%= page.created_at %>"><%= l(page.created_at, format: :uex) %></time></span>
                                             <span class="comments-link"><a href="#">3 отзыва</a></span>
                                          </div>
                                          <figure class="entry-thumbnail cherry-thumb-l aligncenter large">
                                            <a href="<%= url(page.link) %>" title="<%= page.title %>">
                                              <img   width="1088" height="387" src="<%= page.logo %>" class="attachment-cherry-thumb-l wp-post-image" alt="<%= page.title %>"/>
                                            </a>
                                          </figure>
                                          <div class="entry-content">&nbsp&nbsp</div>
                                          <div class="entry-permalink pull-right">
                                            <a href="<%= url(page.link) %>" class="cherry-btn cherry-btn-primary cherry-btn-extra-large"><%= t("uex.read_more")%></a>
                                          </div>
                                          <div class="entry-meta entry-meta-bottom"></div>
                                        </article>




                                      <% end %>

                                      <nav class="navigation pagination" role="navigation">
                                          <h2 class="screen-reader-text">Pages:</h2>
                                          <%= will_paginate(@pages, class: "nav-links", renderer: PaginationHelper::LinkRenderer) %>
                                      </nav>
                                    </main>
                                 </div>
                              </div>
                             </div>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </article>
      </main>
   </div>
</div>
