<div class="container">
  <div class="partners">
    <h2><%= t("school.our_partners")%></h2>
    <p><%= t("school.partners_desc").html_safe %></p>

    <div class="row">
      <% @partners.each do |partner| %>
        <div class="col-4">
          <div class="image-item">
            <img src="<%= partner.logo(:medium)%>" alt="<%= partner.name%>" title="<%= partner.name%>">
            <div class="description">
              <h6><%= partner.first_desc_line %></h6>
              <% if partner.second_desc_line.present? %>
                <p><%= partner.second_desc_line %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
