<div class="container">
   <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
         <article class="clearfix post-43 page type-page status-publish hentry" id="post-43">
            <div class="portfolio-wrap">
              <div class="container">
                <div class="author-bio clearfix">
                   <figure class="author-bio_avatar alignleft "><div class="cherry-services_icon"><i class="material-design-thumb54"></i></div></figure>
                   <h3>Вы всегда останетесь довольны качеством Наши услуг!</a></h3>
                   <div class="description"><%= t("uex.product_header").html_safe%></div>
                </div>



                 <div class="row row-edge">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                       <div class="cherry-services services_1 boxed-layout">
                          <div class="row">
                             <div class="services-listing">
                                <% @products_for_top.each_with_index do |item,idx|%>
                                <div style="text-align: inherit;" class="cherry-services_item item-<%= idx+1%> clearfix odd col-xs-12 clear-col-xs col-sm-12 clear-col-sm col-md-4 <%= idx.zero? ? "clear-col-md clear-col-lg" : ""%>  col-lg-4 ">
                                   <div class="services-inner">
                                      <h3 class="cherry-services_title">
                                        <%= item.name%>
                                      </h3>
                                      <img class="image croped-image " data-ratio="0.7" width="500" height="350" src="<%= item.logo%>" alt="">
                                      <div class="cherry-services_feauters"><%= item.desc.html_safe%></div>
                                      <div class="entry-permalink">
                                        <a href="<%= url(item.link)%>" class="cherry-btn cherry-btn-primary cherry-btn-extra-large"><%= t("uex.do_order")%></a>
                                      </div>
                                   </div>
                                </div>
                                <% end %>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>




                <%= render "shared/order_desc", with_shadow: true %>


                <div class="row row-edge  ">
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box_3">
                      <div class="cherry-box  ">
                         <div class="inner" style="background-color:#ffffff;">
                            <div class="row row-edge  ">
                              <table class="table products">
                                 <tbody>
                                    <tr class="white-block">
                                       <td>Вид услуги</td>
                                       <td>Срок выполнения</td>
                                       <td colspan="3">Стоимость услуги</td>
                                    </tr>
                                    <tr >
                                       <td colspan="2"></td>
                                       <td>Разово</td>
                                       <td>Месяц</td>
                                       <td>2 Месяца</td>
                                    </tr>
                                    <% @products.each do |item|%>
                                    <tr>
                                      <td class="prod_name">
                                      <span class="material-design-verification24 list-icon" style="color: #00bbd3;"></span>
                                        <b><%= item.name %></b>
                                      </td>
                                      <td><%= item.period %></td>
                                      <% if item.is_one_time %>
                                        <td>
                                          <b><%= item.price.to_i %> $ / <%= Product.covert_to_uah(item.price)  %> UAH</b>
                                          <br/>
                                          <a href="<%= url(item.link)%>">
                                            <%= t("uex.do_order")%>
                                            <i class="fa fa-shopping-cart"></i>
                                          </a>
                                        </td>
                                      <% else %>
                                        <td>—</td>
                                      <% end %>


                                      <% if !item.is_one_time %>
                                        <td>
                                          <b><%= item.price.to_i %> $ / <%= Product.covert_to_uah(item.price)  %> UAH</b>
                                          <br/>
                                          <a href="<%= url(item.link)%>">
                                            <%= t("uex.do_order")%>
                                            <i class="fa fa-shopping-cart"></i>
                                          </a>
                                        </td>
                                      <% else %>
                                        <td>—</td>
                                      <% end %>


                                      <% if !item.is_one_time && item.has_second_price %>
                                        <td>
                                          <b><%= item.second_price.to_i %> $ / <%= Product.covert_to_uah(item.second_price)  %> UAH</b>
                                          <br/>
                                          <a href="<%= url(item.link)%>">
                                            <%= t("uex.do_order")%>
                                            <i class="fa fa-shopping-cart"></i>
                                          </a>
                                        </td>
                                      <% else %>
                                        <td>—</td>
                                      <% end %>


                                    </tr>
                                    <% end %>
                                 </tbody>
                              </table>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
              </div>
            </div>
         </article>
      </main>
   </div>
</div>



