<div class="container">
   <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
         <article class="clearfix post-43 page type-page status-publish hentry" id="post-43">
            <div class="portfolio-wrap">
               <div class="portfolio-filter with-ajax" data-order-default="desc" data-orderby-default="date">
                  <h4><%= t("uex.product_header")%></h4>
                  <div class="clear"></div>
               </div>
              <div class="container">
                 <div class="row row-edge">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                       <div class="cherry-services services_1 boxed-layout">
                          <div class="row">
                             <div class="services-listing">
                                <% @products.each_with_index do |item,idx|%>
                                <div style="text-align: inherit;" class="cherry-services_item item-<%= idx+1%> clearfix odd col-xs-12 clear-col-xs col-sm-12 clear-col-sm col-md-4 <%= idx.zero? ? "clear-col-md clear-col-lg" : ""%>  col-lg-4 ">
                                   <div class="services-inner">
                                      <h3 class="cherry-services_title">
                                        <%= item.name%>
                                      </h3>
                                      <img class="image croped-image " data-ratio="0.7" width="500" height="350" src="<%= item.logo%>" alt="">
                                      <div class="cherry-services_feauters"><%= item.desc.html_safe%></div>
                                      <div class="entry-permalink">
                                        <a href="#" class="cherry-btn cherry-btn-primary cherry-btn-extra-large"><%= t("uex.do_order")%></a>
                                      </div>
                                   </div>
                                </div>
                                <% end %>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>







<div class="row row-edge  ">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box_3">
      <div class="cherry-box  ">
         <div class="inner" style="background-color:#ffffff;">
            <div class="row row-edge  ">
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <h2>About our medical diagnostic center</h2>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <p>For many years, Diagnostic Laboratory has been making sustainable progress possible and driving positive change on every continent. With 2014 sales and revenues of $56 billion, Diagnostic Laboratory is the world’s leading manufacturer of various products.&nbsp;The company principally operates through its three product segments.</p>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="cherry-list font-icon cherry-list_3001   ">
                     <ul>
                        <li><span class="material-design-verification24 list-icon" style=""></span><a href="#">High-quality, cost-effective service and clinical expertise</a></li>
                        <li><span class="material-design-verification24 list-icon" style=""></span><a href="#">Tests used for a wide range of disorders</a></li>
                        <li><span class="material-design-verification24 list-icon" style=""></span><a href="#">Secure online storage of your health information</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <a class="cherry-btn cherry-btn-primary cherry-btn-extra-large cherry-btn-inline cherry-btn-fade  " target="_self" href="http://livedemo00.template-help.com/wordpress_55766/genetics/impact-the-heart-of-business/">Read more</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>






















              </div>
            </div>
         </article>
      </main>
   </div>
</div>



