%div{:"ng-controller"=>"CitiesController",:"data-url"=>geo_airports_path,:"data-delete-text"=>t("b1_admin.delete_city_confirm"),"ng-init"=>"cities=#{@cities.to_json};countries=#{@countries.to_json};editedItem=#{@item.to_json}; "}
  #content-container
    #page-title
      %h1.page-header.text-overflow
        =t("b1_admin.airports")
    #page-content
      .row
        .panel
          .panel-heading
            .panel-control
              %button.btn.btn-default{:name => "refresh", :title => "Refresh", :type => "button","ng-click"=>"itemsTable.reload()"}
                %i.fa.fa-refresh.icon-refresh
              %a.btn.btn-primary{href:new_geo_airport_path,"ng-click"=>"$root.setRoute('#{new_geo_airport_path}')"}=t("b1_admin.add")
            %h3.panel-title=t("b1_admin.airport_list")

          .panel-body
            %div{style:"margin-top: 30px;"}
            %div{"cg-busy" => "{'promise': itemsPromise,'backdrop': true,'message': '#{t('b1_admin.loading')}'}"}
              %table.table.table-hover.table-striped.table-vcenter#itemsTable{"ng-table"=>"itemsTable"}
                %tr{"ng-repeat" => "item in data"}
                  %td{"data-title" => "'#{t('b1_admin.title')}'"}
                    {{item.name}}
                  %td{"data-title" => "'#{t('b1_admin.code')}'"}
                    {{item.code}}
                  %td{"data-title" => "'#{t('b1_admin.city')}'"}
                    {{item.city}}
                  %td{"data-title" => "'#{t('b1_admin.country')}'"}
                    {{item.country}}
                  %td{"data-title" => "'#{t('b1_admin.show_on_search')}'"}
                    %span.label.text-lg{"ng-class"=>"{'label-danger':!item.show_on_search,'label-success': item.show_on_search }"}
                      %span{"ng-switch" => "", :on => "item.show_on_search"}
                        %span{"ng-switch-when" => "true"}
                          =t('b1_admin._true')
                        %span{"ng-switch-default" => ""}=t('b1_admin._false')
                  %td.min-w-td.text-center{"data-title" => "'#{t('b1_admin.user_actions')}'"}
                    - if user_can?(:edit)
                      %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-success.fa.fa-pencil.add-tooltip{"tooltip" => t("b1_admin.edit"),href:"#{geo_airports_path}/{{item.id}}/edit/","ng-click"=>"$root.setRoute('#{geo_airports_path}/' + item.id + '/edit/')",style:"margin-right: 15px;"}
                    - if user_can?(:destroy)
                      %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-danger.fa.fa-times.add-tooltip{"tooltip" => t("b1_admin.delete"), :href => "#","ng-click" => "destroy(item)"}

  - content_for :aside do
    .hidden
  %aside#aside-container
    #aside
      .panel
        .panel-heading
          %h3.panel-title=t("b1_admin.filter")
        = form_tag geo_airports_path ,class: "form-horizontal",novalidate: true,name: :itemForm do
          .panel-body
            .col-sm-12
              .form-group{"ng-class" => "{'has-error': itemForm.show_on_search.$invalid && itemForm.$submitted}"}
                = label_tag :show_on_search, t("b1_admin.show_on_search"), class:"control-label"
                %select.form-control{"ng-model" => "filters.show_on_search", "ng-options" => "k as v for (k, v) in ['Нет','Да']"}
              .form-group{"ng-class" => "{'has-error': itemForm.city_id.$invalid && itemForm.$submitted}"}
                = label_tag :city_id, t("b1_admin.city"), class:"control-label"
                %select.form-control{"ng-model" => "filters.city_id", "ng-options" => "city.id as city.name for city in cities"}
              .form-group{"ng-class" => "{'has-error': itemForm.action.$invalid && itemForm.$submitted}"}
                = label_tag :country_id, t("b1_admin.country"), class:"control-label"
                %select.form-control{"ng-model" => "filters.country_id", "ng-options" => "country.id as country.name for country in countries"}

              .form-group{"ng-class" => "{'has-error': itemForm.code.$invalid && itemForm.$submitted}"}
                = label_tag :code, t("b1_admin.code"), class:"control-label"
                = text_field_tag :code,"" ,class:"form-control","ng-minlength"=>3,"ng-maxlength"=>3, "ng-model"=>"filters.code","placeholder"=>'IEV'

              / .form-group{"ng-class" => "{'has-error': itemForm.ip.$invalid && itemForm.$submitted}"}
              /   = label_tag :user_id, t("b1_admin.user"), class:"control-label"
              /   %angucomplete#members{:datafield => "users", :descriptionfield => "email",:inputclass => "form-control form-control-small", :pause => "200", :placeholder => "Search users", :selectedobject => "testObj", :titlefield => "name", :url => "#{logs_systems_users_path}?term="}
          .panel-footer.text-right
            %a.btn.btn-success{"ng-click"=>"filter()"}=t("b1_admin.do_filter")
            %a.btn.btn-warning{"ng-click"=>"reset()"}=t("b1_admin.reset_filter")
