%div{:"ng-controller"=>"CrudController",:"data-url"=>content_cvs_path,:"data-delete-text"=>t("b1_admin.delete_confirm")}
  #content-container
    #page-title
      %h1.page-header.text-overflow
        Резюме
    #page-content
      .row
        .panel
          .panel-heading
            .panel-control
              %button.btn.btn-default{:name => "refresh", :title => "Refresh", :type => "button","ng-click"=>"itemsTable.reload()"}
                %i.fa.fa-refresh.icon-refresh
              %a.btn.btn-primary{href:new_content_cv_path,"ng-click"=>"$root.setRoute('#{new_content_cv_path}')"}=t("b1_admin.add")
            %h3.panel-title Список резюме

          .panel-body
            %div{style:"margin-top: 30px;"}
            %div{"cg-busy" => "{'promise': itemsPromise,'backdrop': true,'message': '#{t('b1_admin.loading')}'}"}
              %table.table.table-hover.table-striped.table-vcenter#itemsTable{"ng-table"=>"itemsTable"}
                %tr{"ng-repeat" => "item in data"}
                  %td{"data-title" => "'#{t('b1_admin.name')}'"}
                    {{item.name}}
                  %td{"data-title" => "'#{t('b1_admin.email')}'"}
                    {{item.email}}
                  %td{"data-title" => "'#{t('b1_admin.phone')}'"}
                    {{item.phone}}

                  %td{"data-title" => "'Файл з резюме'"}
                    {{#item.cv_exist}}
                      %a{target:"_blank", href: "'/system/photos/' + editedItem.id + '/document_file_name'"}
                    {{/item.cv_exist}}

                  %td.min-w-td.text-center{"data-title" => "'#{t('b1_admin.user_actions')}'"}
                    - if user_can?(:destroy)
                      %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-danger.fa.fa-times.add-tooltip{"tooltip" => t("b1_admin.delete"), :href => "#","ng-click" => "destroy(item)"}
