#content-container
  #page-content{:"ng-controller"=>"CrudController","ng-init"=>"editedItem=#{@item.serializable_hash.to_json}",:"data-url"=>settings_translations_path,:"data-delete-text"=>t("b1_admin.delete_permission_confirm")}
    .row
      .col
        .panel
          .panel-heading
            .panel-control
              = render "shared/lang_selector"
              %a.btn.btn-success{href:settings_translations_path,"ng-click"=>"$root.setRoute('#{settings_translations_path}')"}=t("b1_admin.back_to_list")
          = form_tag settings_translations_path ,class: "form-horizontal",novalidate: true,name: :itemForm do
            .panel-body
              .row
                .col-md-12
                  - I18n.available_locales.each do |l|
                    .form-group{"ng-class" => "{'has-error': itemForm.value_#{l}.$invalid && itemForm.$submitted}",class: "lang lang_#{l}" ,style: "#{(B1Config.get_const.default_lang == l ? '' : 'display:none')}" }
                      = label_tag :"value_#{l}", "Перевод", class:"col-sm-3 control-label"
                      .col-sm-8
                        = text_field_tag :"value_#{l}","" ,class:"form-control", "ng-minlength"=>3, "ng-model"=>"editedItem.value_#{l}"

          - if user_can?(:create) || user_can?(:update)
            .panel-footer.text-right
              = link_to t("b1_admin.save"),"#", class:"btn btn-info","ng-click" => "save()"
