<div class="cherry-tabs-pane cherry-clearfix  " style="display: none;">
  <% unless current_user.pages.any? %>
    <div class="row row-edge  ">
    <div class="author-bio clearfix" style="box-shadow:none">
       <figure class="author-bio_avatar alignleft "><div class="cherry-services_icon"><i class="material-design-round52"></i></div></figure>
       <h3> <%= t("uex.you_dont_have_banners_yet")%> <a target="_blank" href="<%= url("contacts")%>" title="<%= t("uex.contacts")%>" ><%=t("uex.with_us")%></a></h3>
       <div class="description">Заказывая услуги у <a href="<%= url("/")%>">компании UEX</a> Вы получаете послный спектр ркламных услуг по отличному ссоотношению цена/качество</div>
    </div>
    </div>
  <% end %>

  <% current_user.pages.each do |item|%>
    <div class="row row-edge one-baner ">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="alignnone size-full wp-image-547" src="<%= item.logo%>" alt="page1-img2" width="336" height="336"></div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
         <h2><%= item.title%></h2>
         <p><%= truncate(item.anons,length:180, omission: "...")%></p>
         <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="entry-meta entry-meta-top">
              <span class="posted-on"><time class="entry-date published" datetime="<%= item.created_at %>"><%= l(item.created_at, format: :uex) %></time></span>
              <span class="material-design-visibility1"><a href="#" title="<%= item.views%>" rel="author"><%= item.views%></a></span>
              <span class="comments-link"><a href="#">3 Отзыва</a></span>
            </div>
          </div>
         </div>
      </div>

<!--       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
         <h2>Quality of clinical tets</h2>
         <p>For many people, clinical laboratory testing is an unfamiliar side of medical care. Yet many of the decisions you and your healthcare provider make about your health status – obtaining a diagnosis, developing a course of action for treatment, or monitoring your body’s response to therapy – are based on laboratory data. Our clinical laboratory testing is held to very high state and federal regulatory standards.</p>
      </div> -->
    </div>
  <% end %>
  <div class="entry-permalink pull-right"><a href="<%= url("users/#{current_user.id}/edit") %>"><%= t("uex.create_own_baner")%></a></div>
</div>
