<div class="cherry-tabs-pane cherry-clearfix  " style="display: none;">
   <div class="row row-edge  ">
       <article class="clearfix post-596 page type-page status-publish hentry" id="post-596">
          <div class="testimonials-wrap testimonials-page">
             <div class="testimonials-list">
                <% current_user.distinct_messages.each do |message|%>
                   <div id="quote-114" class="testimonials-item item-1 odd clearfix">
                      <img width="100" height="100" src="<%= message.sender(current_user.id).avatar(:thumb)%>" class="avatar wp-post-image" alt="<%= message.sender.name%>">
                      <cite class="author" title="<%= message.sender(current_user.id).name%>"><a href="<%= user_path(message.sender(current_user.id)) %>"><%= message.sender(current_user.id).name%></a></cite>
                      <blockquote>
                         <p><%= message.body%></p>
                         <footer><cite class="author" title="<%= message.sender.name%>"><a href="<%= url("users/#{current_user.id}/messages/#{message.sender(current_user.id).id}") %>"><%= t("uex.read_all_messages")%></a></cite></footer>
                      </blockquote>
                   </div>
                <% end %>
             </div>
          </div>
       </article>
   </div>
</div>
