<div class="cherry-tabs-pane cherry-clearfix  " style="display: none;">
   <div class="row row-edge  ">
       <article class="clearfix post-596 page type-page status-publish hentry" id="post-596">

          <div class="author-bio clearfix" style="box-shadow:none;-webkit-box-shadow:none">
             <figure class="author-bio_avatar alignleft "><div class="cherry-services_icon"><i class="material-design-poll"></i></div></figure>
             <h3><%= t("uex.stats_all")%></h3>
             <div class="description"><%= t("uex.stats_all_non_uniq")%></div>
          </div>


          <div id="chart_div" style="width: 100%; height: 40%;" ></div>
          <div class="author-bio clearfix" style="box-shadow:none;-webkit-box-shadow:none">
             <figure class="author-bio_avatar alignleft "><div class="cherry-services_icon"><i class="material-design-poll"></i></div></figure>
             <h3><%= t("uex.stats_all")%></h3>
             <div class="description"><%= t("uex.stats_all_uniq")%></div>
          </div>
          <div id="chart_div_2" style="width: 100%; height: 40%;" ></div>
          <div class="author-bio clearfix" style="box-shadow:none;-webkit-box-shadow:none">
             <figure class="author-bio_avatar alignleft "><div class="cherry-services_icon"><i class="material-design-google130"></i></div></figure>
             <h3><%= t("uex.stats_adwords")%></h3>
             <div class="description"><%= t("uex.manage_your_pages_desc")%></div>
          </div>
       </article>
   </div>
</div>

<script type="text/javascript">

google.load('visualization', '1', {packages: ['corechart', 'line']});
google.setOnLoadCallback(drawBasic);

function drawBasic() {


      var options = {
        hAxis: {
          title: '<%= t("uex.period")%>'
        },
        vAxis: {
          title: '<%= t("uex.visits_count")%>'
        }
      };

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      <% @page_ids.each do |page_id| %>
        data.addColumn('number', '<%= page_name(page_id)%>');
      <% end %>

      data_rows = []
      <% @graph_data.each_pair do |date, data|
        year,monts,day = date.split("-")

      %>
      row = [new Date('<%= year %>','<%= monts %>','<%= day %>')]

      data_rows.push(row.concat(<%= data.to_json %>))

      <% end %>


      data.addRows(data_rows);

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);



      var data_2 = new google.visualization.DataTable();
      data_2.addColumn('date', 'Date');
      <% @page_ids.each do |page_id| %>
        data_2.addColumn('number', '<%= page_name(page_id)%>');
      <% end %>

      data_rows = []
      <% @graph_data_2.each_pair do |date, data|
        year,monts,day = date.split("-")

      %>
      row = [new Date('<%= year %>','<%= monts %>','<%= day %>')]

      data_rows.push(row.concat(<%= data.to_json %>))

      <% end %>


      data_2.addRows(data_rows);


      var chart = new google.visualization.LineChart(document.getElementById('chart_div_2'));

      chart.draw(data_2, options);











    }

</script>
