#content-container
  #page-title
    %a.btn.btn-success.pull-right{href:content_teachers_path,"ng-click"=>"$root.setRoute('#{content_teachers_path}')"}=t("b1_admin.back_to_list")
    %h1.page-header.text-overflow
      Викладачі
  #page-content{:"ng-controller"=>"CrudController","ng-init"=>"editedItem=#{@item.serializable_hash.to_json}", :"data-url"=>content_teachers_path}
    .row
      .col
        .panel
          .panel-heading
            %h3.panel-title Створення/редагування викладача
          = form_tag content_teachers_path ,class: "form-horizontal",novalidate: true,name: :itemForm do
            .panel-body
              .row
                .col-md-8
                  .form-group{"ng-class" => "{'has-error': itemForm.name.$invalid && itemForm.$submitted}"}
                    = label_tag :name, t("b1_admin.title"), class:"col-sm-3 control-label"
                    .col-sm-8
                      = text_field_tag :name,"" ,class:"form-control",required: true,"ng-minlength"=>3,"ng-maxlength"=>255, "ng-model"=>"editedItem.name"
                  .form-group{"ng-class" => "{'has-error': itemForm.name.$invalid && itemForm.$submitted}"}
                    = label_tag :desc, t("b1_admin.desc"), class:"col-sm-3 control-label"
                    .col-sm-8
                      = text_area_tag :desc,"" ,class:"form-control",required: true,"ng-minlength"=>3, "ng-model"=>"editedItem.desc"
                  .form-group{"ng-class" => "{'has-error': itemForm.is_in_school.$invalid && itemForm.$submitted}"}
                    = label_tag :is_in_school, 'Відобрадати в школі?', class:"col-sm-3 control-label"
                    .col-sm-7
                      %input.js-switch{"ui-switch" => "true", type: "checkbox",id:"is_in_school", "ng-model"=>"editedItem.is_in_school"}
                  .form-group{"ng-class" => "{'has-error': itemForm.is_in_club.$invalid && itemForm.$submitted}"}
                    = label_tag :is_in_club, 'Відобрадати в клубі?', class:"col-sm-3 control-label"
                    .col-sm-7
                      %input.js-switch{"ui-switch" => "true", type: "checkbox",id:"is_in_club", "ng-model"=>"editedItem.is_in_club"}
                  .form-group
                    = label_tag :logo_file_name, t("b1_admin.logo_file_name"), class:"col-sm-3 control-label"
                    .col-md-7
                      .ng-scope{:"flow-name"=>"logo", :"flow-file-added" => "!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]", :"flow-init" => "{singleFile:true,target:'#{namespace}/content/teachers/'+editedItem.id + '/upload',testChunks:false}" ,:"flow-files-submitted"=>"$flow.upload()",:"ng-show" => "editedItem.id"}
                        .thumbnail{"ng-show" => "!$flow.files.length"}
                          %img{:"ng-src" => "{{editedItem.logo_file_name && ('/system/teachers/' + editedItem.id + '/medium.png') || 'http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image'}}"}/
                        .thumbnail.ng-hide{:"ng-show" => "$flow.files.length"}
                          %img{"flow-img" => "$flow.files[0]"}/
                        %div
                          %span.btn.btn-primary{:"flow-btn" => "", :"ng-show" => "!$flow.files.length"}
                            Выбрать
                            %input{:style => "visibility: hidden; position: absolute;", :type => "file"}/
                          %span.btn.btn-info.ng-hide{:"flow-btn" => "", :"ng-show" => "$flow.files.length"}
                            Изменить
                            %input{:style => "visibility: hidden; position: absolute;", :type => "file"}/
                          %span.btn.btn-danger.ng-hide{:"ng-click" => "$flow.cancel()", :"ng-show" => "$flow.files.length"}
                            Удалить
              .mar-top.clearfix
                %a.btn.btn-sm.btn-primary.pull-right{"ng-click" => "save()"}
                  %i.fa.fa-pencil.fa-fw
                  =t("b1_admin.save")
