.row
  .panel
    - unless current_admin.is_partner? || current_admin.contract_owner?
      .panel-heading
        .panel-control
          %select.form-control{"ng-model" => "provider_id", "ng-options" => "provider.id as provider.name for provider in #{@providers.map{|p| {name: p.name, id: p._id.to_s} }.to_json}", "ng-change"=>"change_provider(provider_id)"}
    .panel-body
      .col
        %tabset
          - (current_admin.is_partner? || current_admin.contract_owner? ? Settings.hotelier_langs : I18n.available_locales).each do |l|
            %tab{:heading => l.to_s.upcase , :select=>"set_lang('#{l = (l == 'ua' ? 'uk' : l)}')"}
              .row
                .panel
                  .panel-body
                    .col
                      %tabset
                        - t("b1_admin.available_descriptions").each_pair do |k,v|
                          %tab{:heading => v, :select=>"", 'tooltip-placement' => "top", tooltip: t("tooltips.hotel.#{k}")}
                            .panel
                              .panel-body
                                - @providers.each do |provider|
                                  - is_active = I18n.default_locale.to_s == l.to_s && provider._id.to_s == @provider._id.to_s
                                  .form-group{"ng-class" => "{'has-error': editedItem.descriptions['#{provider._id}']['desription']['#{k}_translations']['#{l}'].$invalid && itemForm.$submitted}",class: "lang lang_#{l} provider_#{provider._id.to_s}" ,style: "#{( is_active  ? '' : 'display:none')}"}
                                    .col-sm-12
                                      .summernote{id:"#{l}-#{provider._id}-#{k}", class: "summernote_#{l} lang lang_#{l} provider provider_#{provider._id}",:"data-lang"=>l}
                                      = text_area_tag :"descriptions['#{provider._id}']['desription']['#{k}_translations']['#{l}']","" ,class:"form-control hidden", "ng-model"=>"editedItem.descriptions['#{provider._id}']['desription']['#{k}_translations']['#{l}']"

