:css
  .angular-google-map-container { height: 400px; }
.panel-body
  .row
    .col-md-6
      %legend
        %label=t("b1_admin.general")
      - if current_admin.is_partner? || current_admin.contract_owner?
        .form-group{"ng-class" => "{'has-error': itemForm.name.$invalid && itemForm.$submitted}", 'tooltip-placement' => "right", tooltip: t('tooltips.hotel.name')}
          = label_tag :name, t("b1_admin.title"), class:"col-sm-3 control-label"
          .col-sm-8
            = text_field_tag :name,"name" ,class:"form-control",required: true,"ng-minlength"=>3, "ng-model"=>"editedItem.name_translations.ru"
      - else
        - I18n.available_locales.each do |l|
          .form-group{"ng-class" => "{'has-error': itemForm['name_translations.#{l}'].$invalid && itemForm.$submitted}", 'tooltip-placement' => "right", tooltip: t('tooltips.hotel.name')}
            = label_tag :"name_translations.#{l}", "#{t("b1_admin.title")} #{l.to_s.upcase}", class:"col-sm-3 control-label"
            .col-sm-8
              = text_field_tag :"name_translations.#{l}","" ,class:"form-control",required: true,"ng-minlength"=>3, "ng-model"=>"editedItem.name_translations.#{l}"
      .form-group{"ng-class" => "{'has-error': itemForm.type_id.$invalid && itemForm.$submitted}", 'tooltip-placement' => "right", tooltip: t('tooltips.hotel.type')}
        = label_tag :type_id, t("b1_admin.hotel_type"), class:"col-sm-3 control-label"
        .col-sm-8
          %select.form-control{name:'type_id', "ng-model" => "editedItem.type_id", "ng-options" => "type.id as type.name for type in types",required: true}
      .form-group{"ng-class" => "{'has-error': itemForm.certs.$invalid && itemForm.$submitted}"}
        = label_tag :certs, t("b1_admin.certs"), class:"col-sm-3 control-label"
        .col-sm-8
          %select.form-control{name: 'certs', "ng-model" => "editedItem.certs", "ng-options" => "cert.id as cert.name for cert in [{id:false,name:'#{t('b1_admin.is_cert')}'},{id:true,name:'#{t('b1_admin.not_cert')}'}]",required: true}
      .form-group{"ng-class" => "{'has-error': itemForm.stars.$invalid && itemForm.$submitted}", 'tooltip-placement' => "right", tooltip: t('tooltips.hotel.stars')}
        = label_tag :stars, t("b1_admin.stars"), class:"col-sm-3 control-label"
        .col-sm-8
          %select.form-control{name: 'stars', "ng-model" => "editedItem.stars", "ng-options" => "star.id as star.name for star in #{@stars.to_json}",required: true}

      .form-group{"ng-class" => "{'has-error': itemForm.total_rooms.$invalid && itemForm.$submitted}", 'tooltip-placement' => "right", tooltip: t('tooltips.hotel.room_number')}
        = label_tag :total_rooms, t("b1_admin.total_rooms"), class:"col-sm-3 control-label"
        .col-sm-8
          = text_field_tag :total_rooms, "" , type: 'number', class: "form-control", required: true, "ng-min"=>1, "ng-max" => 5000, "ng-model"=>"editedItem.total_rooms"
      .form-group{"ng-class" => "{'has-error': itemForm.base_currency.$invalid && itemForm.$submitted}"}
        = label_tag :base_currency, t("b1_admin.hotel_currency"), class:"col-sm-3 control-label"
        .col-sm-8
          %select.form-control{"ng-model" => "editedItem.base_currency", "ng-options" => "currency as currency for currency in #{@currencies.to_json}",required: true}

      - unless current_admin.is_partner?
        .form-group{"ng-class" => "{'has-error': itemForm.owner.$invalid && itemForm.$submitted}"}
          = label_tag :owner, t("b1_admin.owner"), class:"col-sm-3 control-label"
          .col-sm-8
            %select.form-control{"ng-model" => "editedItem.owner", "ng-options" => "owner.id as owner.name for owner in #{@owners.to_json}",required: true}
        .form-group{"ng-class" => "{'has-error': itemForm.moderate.$invalid && itemForm.$submitted}"}
          = label_tag :moderate, t("b1_admin.moderate"), class:"col-sm-3 control-label"
          .col-sm-7
            %input.js-switch{"ui-switch" => "true", type: "checkbox",id:"moderate", "ng-model"=>"editedItem.moderate"}

        .form-group{"ng-class" => "{'has-error': itemForm.status.$invalid && itemForm.$submitted}"}
          = label_tag :status, t("b1_admin.active"), class:"col-sm-3 control-label"
          .col-sm-7
            %input.js-switch{"ui-switch" => "true", type: "checkbox",id:"status", "ng-model"=>"editedItem.status"}
      .form-group{'ng-class' => "{'has-error': itemForm.network.$invalid && itemForm.$submitted}", 'tooltip-placement' => "right", tooltip: t('tooltips.hotel.network')}
        = label_tag :network, t("b1_admin.hotel_network.belongs_to_network"), class:"col-sm-3 control-label"
        .col-sm-2
          %input.js-switch{"ui-switch" => "true", type: "checkbox", id:"show_network", "ng-model"=>"editedItem.show_network", 'ng-init' => 'editedItem.show_network = editedItem.network.id !== null;'}
        .col-sm-7{'ng-show' => 'editedItem.show_network'}
          %ui-select{"ng-disabled" => "disabled", 'ng-required' => 'editedItem.show_network', "ng-model" => "editedItem.network", :style => "min-width: 100%;", :theme => "select2"}
            %ui-select-match{:placeholder => t("b1_admin.hotel_network.enter_network_name")}
              {{$select.selected.name}}
            %ui-select-choices{:repeat => "network in searchNetwork"}
              %div{'ng-bind-html' => "network.name | highlight: $select.search"}
    .col-md-6
      %legend{'tooltip-placement' => "left", tooltip: t('tooltips.hotel.address')}
        %label=t("b1_admin.address_info")
      .form-group{"ng-class" => "{'has-error': itemForm.country_id.$invalid && itemForm.$submitted}", 'tooltip-placement' => "left", tooltip: t('tooltips.hotel.address')}
        .col-sm-6
          = label_tag :country_id, t("b1_admin.country"), class:"col-sm-2 control-label"
          .col-sm-10
            %ui-select{"ng-disabled" => "disabled", "on-select"=>"set_address_map_coords($item, $model)", "ng-model" => "editedItem.country", :style => "min-width: 100%;", :theme => "select2"}
              %ui-select-match{:placeholder => t("b1_admin.enter_country")}
                {{$select.selected.name}}
              %ui-select-choices{:repeat => "country in searchCountries", :'refresh' => 'searchCountry($select.search)', 'refresh-delay' => '300'}
                %div{'ng-bind-html' => "country.name | highlight: $select.search"}
        .col-sm-6
          = label_tag :city_id, t("b1_admin.city"), class:"col-sm-2 control-label"
          .col-sm-10
            %ui-select{"ng-disabled" => "disabled", "on-select"=>"set_address_map_coords($item, $model)",  "ng-model" => "editedItem.city", :style => "min-width: 100%;", :theme => "select2"}
              %ui-select-match{:placeholder => t("b1_admin.enter_city")}
                {{$select.selected.name}}
              %ui-select-choices{:repeat => "city in searchCities", :'refresh' => 'searchCity($select.search)', 'refresh-delay' => '300'}
                %div{'ng-bind-html' => "city.name | highlight: $select.search"}
      - if current_admin.is_partner? || current_admin.contract_owner?
        .col-sm-6{"ng-class" => "{'has-error': itemForm.address.$invalid && itemForm.$submitted}"}
          = label_tag :address, t("b1_admin.address"), class:"col-sm-2 control-label"
          .input-group
            = text_field_tag :address, "" ,class:"form-control",required: true,"ng-minlength"=>3, "ng-model"=>"editedItem.address_translations.ru"
            / - if key.zero?
            %span.input-group-btn
              .btn.btn-default{"ng-click" => "set_address_map_coords();"}
                %span.fa.fa-map-marker
      - else
        - I18n.available_locales.in_groups_of((I18n.available_locales.count/2).ceil,false).each do |group|
          .form-group
            - group.each_with_index do |l,key|
              .col-sm-6{"ng-class" => "{'has-error': itemForm['address_translations.#{l}'].$invalid && itemForm.$submitted}"}
                = label_tag :"address_translations.#{l}", "#{t("b1_admin.address")} #{l.to_s.upcase}", class:"col-sm-2 control-label"
                .input-group
                  = text_field_tag :"address_translations.#{l}","" ,class:"form-control",required: true,"ng-minlength"=>3, "ng-model"=>"editedItem.address_translations.#{l}"
                  / - if key.zero?
                  %span.input-group-btn
                    .btn.btn-default{"ng-click" => "set_address_map_coords();"}
                      %span.fa.fa-map-marker
      .col-sm-6
        = label_tag :"zip", t("b1_admin.zip"), class:"col-sm-1 control-label"
        .col-sm-10
          = text_field_tag :zip,"" ,class:"form-control","ng-minlength"=>3, "ng-model"=>"editedItem.zip"
      .form-group{'tooltip-placement' => "left", tooltip: t('tooltips.hotel.on_the_map')}
        .col-sm-12{style:"height:300px"}
          %google-map{'title' => t('tooltips.hotel.on_the_map'), 'data-placement' => 'top' , 'data-toggle' => 'tooltip', 'center' => 'map.center', 'zoom' => 'map.zoom', 'events' => 'map.events'}
            %marker{'coords' => 'map_marker.coords', 'events' => 'map_marker.events' , 'options' => 'map_marker.options', 'idKey' => 'map_marker.id'}
  .row
    %legend
      %label=t("b1_admin.mamanger_contacts")
    .col-md-6
      .form-group{"ng-class" => "{'has-error': itemForm.manager.first_name.$invalid && itemForm.$submitted}"}
        = label_tag :"manager.first_name", t("b1_admin.first_name"), class:"col-sm-3 control-label"
        .col-sm-8
          = text_field_tag :"manager.first_name","" ,class:"form-control","ng-minlength"=>3, "ng-model"=>"editedItem.manager.first_name"
      .form-group{"ng-class" => "{'has-error': itemForm.manager.last_name.$invalid && itemForm.$submitted}"}
        = label_tag :"manager.last_name", t("b1_admin.last_name"), class:"col-sm-3 control-label"
        .col-sm-8
          = text_field_tag :"manager.last_name","" ,class:"form-control","ng-minlength"=>3, "ng-model"=>"editedItem.manager.last_name"
      .form-group{"ng-class" => "{'has-error': itemForm.manager.email.$invalid && itemForm.$submitted}"}
        = label_tag :"manager.email", t("b1_admin.email"), class:"col-sm-3 control-label"
        .col-sm-8
          = text_field_tag :"manager.email","" ,class:"form-control","ng-minlength"=>3, "ng-model"=>"editedItem.manager.email"
    .col-md-6
      .form-group{"ng-class" => "{'has-error': itemForm.manager.telephone.$invalid && itemForm.$submitted}", 'tooltip-placement' => "left", tooltip: t('tooltips.hotel.phone')}
        = label_tag :"manager.telephone", t("b1_admin.phone"), class:"col-sm-3 control-label"
        .col-sm-8
          = text_field_tag :"manager.telephone","" ,class:"form-control","ng-minlength"=>3, "ng-model"=>"editedItem.manager.telephone"
      .form-group{"ng-class" => "{'has-error': itemForm.manager.fax.$invalid && itemForm.$submitted}"}
        = label_tag :"manager.fax", t("b1_admin.fax"), class:"col-sm-3 control-label"
        .col-sm-8
          = text_field_tag :"manager.fax","" ,class:"form-control","ng-minlength"=>3, "ng-model"=>"editedItem.manager.fax"
