#content-container
  #page-title
    %a.btn.btn-success.pull-right{href:baners_pages_path,"ng-click"=>"$root.setRoute('#{baners_pages_path}')"}=t("b1_admin.back_to_list")
    %h1.page-header.text-overflow
      Обьявления
  #page-content{:"ng-controller"=>"CrudController","ng-init"=>"clonerTypes={phones:'phone',emails:'email', sites:'site' };editedItem=#{@item.serializable_hash.to_json};",:"data-url"=>baners_pages_path,"data-back-url"=>baners_pages_path}
    .row
      .col
        .panel
          .panel-heading
            %h3.panel-title Создание/редактирование обьявления
          = form_tag "/previev" ,class: "form-horizontal",novalidate: true,name: :itemForm, target: "_blank"  do
            = hidden_field_tag :id, "{{editedItem.id}}",  "ng-model" => "editedItem.id"
            .panel-body
              .form-group{"ng-class" => "{'has-error': itemForm.title.$invalid && itemForm.$submitted}",class: "lang lang" }
                = label_tag :"title", t("b1_admin.title"), class:"col-sm-1 control-label"
                .col-sm-10
                  = text_field_tag :"title","" ,class:"form-control","ng-minlength"=>3, "ng-model"=>"editedItem.title"
              .form-group{"ng-repeat"=>"item in editedItem.emails track by $index","ng-class" => "{'has-error': itemForm.emails[$index].$invalid && itemForm.$submitted}",class: "lang lang" }
                = label_tag :"email", t("b1_admin.email"), class:"col-sm-1 control-label"
                .col-sm-8
                  = text_field_tag :"email","" ,class:"form-control", "ng-model"=>"editedItem.emails[$index]"
                .col-sm-3{"ng-show"=>"!$index"}
                  %a.btn.btn-primary{"ng-click"=>"clone_row($event,'emails',$index)"}
                    Добавить
                    %i.fa-plus.fa
                  %a.btn.btn-danger{"ng-click"=>"delete_cloned_row($event,'emails',$index)"}
                    Удалить
                    %i.fa-minus.fa
              .form-group{"ng-repeat"=>"item in editedItem.phones track by $index","ng-class" => "{'has-error': itemForm.phones[$index].$invalid && itemForm.$submitted}",class: "lang lang" }
                = label_tag :"phone", t("b1_admin.phone"), class:"col-sm-1 control-label"
                .col-sm-8
                  = text_field_tag :"phones","" ,class:"form-control", "ng-model"=>"editedItem.phones[$index]"
                .col-sm-3{"ng-show"=>"!$index"}
                  %a.btn.btn-primary{"ng-click"=>"clone_row($event,'phones',$index)"}
                    Добавить
                    %i.fa-plus.fa
                  %a.btn.btn-danger{"ng-click"=>"delete_cloned_row($event,'phones',$index)"}
                    Удалить
                    %i.fa-minus.fa
              .form-group{"ng-repeat"=>"item in editedItem.sites track by $index","ng-class" => "{'has-error': itemForm.sites[$index].$invalid && itemForm.$submitted}",class: "lang lang" }
                = label_tag :"email", t("b1_admin.site"), class:"col-sm-1 control-label"
                .col-sm-8
                  = text_field_tag :"email","" ,class:"form-control", "ng-model"=>"editedItem.sites[$index]"
                .col-sm-3{"ng-show"=>"!$index"}
                  %a.btn.btn-primary{"ng-click"=>"clone_row($event,'sites',$index)"}
                    Добавить
                    %i.fa-plus.fa
                  %a.btn.btn-danger{"ng-click"=>"delete_cloned_row($event,'sites',$index)"}
                    Удалить
                    %i.fa-minus.fa

              .form-group{"ng-class" => "{'has-error': itemForm.user_id.$invalid && itemForm.$submitted}"}
                = label_tag :user_id, "Пользователь", class:"col-sm-1 control-label"
                .col-sm-10
                  %angucomplete#members{:datafield => "items", :descriptionfield => "name,email",:inputclass => "form-control form-control-small", :pause => "200", :placeholder => "Ввведите email", :selectedobject => "editedItem.user", :titlefield => "name,email", :url => "#{products_users_path}.json?term=", "value"=>"{{editedItem.user.name}} {{editedItem.user.email}}"}

              .form-group{"ng-class" => "{'has-error': itemForm.active.$invalid && itemForm.$submitted}"}
                = label_tag :active, t("b1_admin.active"), class:"col-sm-1 control-label"
                .col-sm-10
                  %input.js-switch{"ui-switch" => "true", type: "checkbox",id:"active", "ng-model"=>"editedItem.active"}
              .form-group{"ng-class" => "{'has-error': itemForm.anons.$invalid && itemForm.$submitted}",class: "lang lang" }
                = label_tag :"anons", t("b1_admin.desc"), class:"col-sm-1 control-label"
                .col-sm-10
                  = text_area_tag :"anons","" ,class:"form-control", "ng-model"=>"editedItem.anons"
              .form-group{"ng-class" => "{'has-error': itemForm.desc.$invalid && itemForm.$submitted}",class: "lang lang" }
                = label_tag :"desc", t("b1_admin.desc"), class:"col-sm-1 control-label"
                .col-sm-10
                  .summernote{class: "summernote lang lang",:"data-lang"=>"uk"}
                  = text_area_tag :"desc","" ,class:"form-control hidden",required: true, "ng-model"=>"editedItem.desc"

              .form-group{"ng-class" => "{'has-error': itemForm.show_as_popular.$invalid && itemForm.$submitted}"}
                = label_tag :meta_is_generated, t("b1_admin.meta_is_generated"), class:"col-sm-1 control-label"
                .col-sm-10
                  %input.js-switch{"ui-switch" => "true", type: "checkbox",id:"meta_is_generated", "ng-model"=>"editedItem.meta_is_generated"}

              .form-group{"ng-show"=>"!editedItem.meta_is_generated", "ng-class" => "{'has-error': itemForm.meta_title.$invalid && itemForm.$submitted}"}
                = label_tag :meta_title, t("b1_admin.meta_title"), class:"col-sm-1 control-label"
                .col-sm-10
                  = text_field_tag :meta_title,"" ,class:"form-control", "ng-model"=>"editedItem.meta_title"
              .form-group{"ng-show"=>"!editedItem.meta_is_generated","ng-class" => "{'has-error': itemForm.meta_desc.$invalid && itemForm.$submitted}" }
                = label_tag :meta_desc, t("b1_admin.meta_desc"), class:"col-sm-1 control-label"
                .col-sm-10
                  = text_area_tag :meta_desc,"" ,class:"form-control", "ng-model"=>"editedItem.meta_desc"
              .form-group{"ng-show"=>"!editedItem.meta_is_generated","ng-class" => "{'has-error': itemForm.meta_keys.$invalid && itemForm.$submitted}"}
                = label_tag :meta_keys, t("b1_admin.meta_keys"), class:"col-sm-1 control-label"
                .col-sm-10
                  = text_area_tag :meta_keys,"" ,class:"form-control", "ng-model"=>"editedItem.meta_keys"





              .form-group
                - if params[:action] =~ /new/
                  %div{style: "display:none"}
                    = file_field_tag :logo, style: "display:none", "ng-click" => "startupload($event)",  "onchange"=>"angular.element(this).scope().readfile(this)"
                    = hidden_field_tag :file, "",  "ng-model" => "editedItem.file"
                = label_tag :logo_file_name, t("b1_admin.logo_file_name"), class:"col-sm-1 control-label"
                .col-md-10
                  .ng-scope{:"flow-name"=>"logo", :"flow-file-added" => "!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]", :"flow-init" => "{singleFile:true,target:'#{namespace}/baners/pages/'+editedItem.id + '/upload',testChunks:false}" ,:"flow-files-submitted"=>"upload($flow, editedItem.id)"}
                    .thumbnail{"ng-show" => "!$flow.files.length"}
                      %img{:"ng-src" => "{{editedItem.logo_file_name && editedItem.logo || 'http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image'}}"}/
                    .thumbnail.ng-hide{:"ng-show" => "$flow.files.length"}
                      %img{"flow-img" => "$flow.files[0]"}/
                    %div
                      - if params[:action] =~ /new/
                        %span.btn.btn-primary{ :"ng-show" => "!$flow.files.length", "ng-click"=>"openupload()"} Выбрать
                      - else

                        %span.btn.btn-primary{ :"ng-show" => "!$flow.files.length", "flow-btn"=>""}
                          Выбрать
                          %input{:style => "visibility: hidden; position: absolute;", :type => "file"}/
                      %span.btn.btn-info.ng-hide{:"flow-btn" => "", :"ng-show" => "$flow.files.length"}
                        Изменить
                        %input{:style => "visibility: hidden; position: absolute;", :type => "file"}/
                      %span.btn.btn-danger.ng-hide{:"ng-click" => "$flow.cancel()", :"ng-show" => "$flow.files.length"}
                        Удалить
              .row
                .col-md-4
                  .form-group{"ng-class" => "{'has-error': itemForm.country_id.$invalid && itemForm.$submitted}"}
                    = label_tag :country_id, "Страна", class:"col-sm-2 control-label"
                    .col-sm-8
                      %select.form-control{"ng-model" => "editedItem.country_id", "ng-options" => "continent.id as continent.name for continent in #{@countries.to_json}",required: true}
                .col-md-4
                  .form-group{"ng-class" => "{'has-error': itemForm.city_id.$invalid && itemForm.$submitted}"}
                    = label_tag :city_id, "Город", class:"col-sm-2 control-label"
                    .col-sm-8
                      %select.form-control{"ng-model" => "editedItem.city_id", "ng-options" => "continent.id as continent.name for continent in #{@cities.to_json}",required: true}

                .col-md-4
                  .form-group{"ng-class" => "{'has-error': itemForm.city_id.$invalid && itemForm.$submitted}"}
                    = label_tag :city_id, "Категория", class:"col-sm-2 control-label"
                    .col-sm-8
                      %select.form-control{"ng-model" => "editedItem.category_id", "ng-options" => "continent.id as continent.name for continent in #{@categories.to_json}",required: true}


              .mar-top.clearfix
                %a.btn.btn-sm.btn-primary.pull-right{"ng-click" => "save()"}
                  %i.fa.fa-pencil.fa-fw
                  =t("b1_admin.save")
                %a.btn.btn-sm.btn-success.pull-right{"ng-click" => "previev()"}
                  Предпросмотр
