%div{:"ng-controller"=>"PagesController",:"data-url"=>baners_pages_path,:"data-delete-text"=>t("b1_admin.delete_confirm")}
  #content-container
    #page-title
      %h1.page-header.text-overflow
        Обьявления
    #page-content
      .row
        .panel
          .panel-heading
            .panel-control
              %button.btn.btn-default{:name => "refresh", :title => "Refresh", :type => "button","ng-click"=>"itemsTable.reload()"}
                %i.fa.fa-refresh.icon-refresh
              %a.btn.btn-primary{href: new_baners_page_path,"ng-click"=>"$root.setRoute('#{new_baners_page_path}')"}=t("b1_admin.add")
            %h3.panel-title Список обьявлений

          .panel-body
            %div{style:"margin-top: 30px;"}
            %div{"cg-busy" => "{'promise': itemsPromise,'backdrop': true,'message': '#{t('b1_admin.loading')}'}"}
              %table.table.table-hover.table-striped.table-vcenter#itemsTable{"ng-table"=>"itemsTable"}
                %tr{"ng-repeat" => "item in data"}
                  %td{"data-title" => "'ID'"}
                    {{item.id}}
                  %td{"data-title" => "'Название'"}
                    {{item.title}}
                  %td{"data-title" => "'Пользователь'"}
                    {{item.user}}
                  %td{"data-title" => "'#{t('b1_admin.created_at')}'"}
                    {{item.created_at | date:'dd.MM.yyyy HH:mm '}}
                  %td{"data-title" => "'Город'"}
                    {{item.city_name}}
                  %td{"data-title" => "'Категория'"}
                    {{item.category_title}}
                  %td{"data-title" => "'#{t('b1_admin.logo')}'"}
                    %img.img-circle.img-sm{"ng-src" => "{{item.logo}}"}/
                  %td{"data-title" => "'#{t('b1_admin.active')}'"}
                    %span.label.text-lg{"ng-class"=>"{'label-danger':!item.active,'label-success': item.active }"}
                      %span{"ng-switch" => "", :on => "item.active"}
                        %span{"ng-switch-when" => "true"}
                          =t('b1_admin._true')
                        %span{"ng-switch-default" => ""}=t('b1_admin._false')
                  %td.min-w-td.text-center{"data-title" => "'#{t('b1_admin.user_actions')}'"}
                    - if user_can?(:edit)
                      %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-success.fa.fa-pencil.add-tooltip{"tooltip" => t("b1_admin.edit"),href:"#{baners_pages_path}/{{item.id}}/edit/","ng-click"=>"$root.setRoute('#{baners_pages_path}/' + item.id + '/edit/')",style:"margin-right: 15px;"}
                    - if user_can?(:destroy)
                      %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-danger.fa.fa-times.add-tooltip{"tooltip" => t("b1_admin.delete"), :href => "#","ng-click" => "destroy(item)"}

                    - if user_can?(:show_reviews)
                      %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-danger.fa.fa-search.add-tooltip{"tooltip" => "Просмотреть отзывы", :href => "#","ng-click" => "showReviews(item)"}


  - content_for :aside do
    .hidden
  %aside#aside-container
    #aside
      .panel
        .panel-footer.text-right
          %a.btn.btn-success{"ng-click"=>"filter()"}=t("b1_admin.do_filter")
          %a.btn.btn-warning{"ng-click"=>"reset()"}=t("b1_admin.reset_filter")

        .panel-heading
          %h3.panel-title=t("b1_admin.filter")
        = form_tag geo_cities_path ,class: "form-horizontal",novalidate: true,name: :itemForm do
          .panel-body
            .col-sm-12
              .form-group{"ng-class" => "{'has-error': itemForm.title.$invalid && itemForm.$submitted}"}
                = label_tag :title, "Поиск по словам", class:"control-label"
                = text_field_tag :"title","" ,class:"form-control", "ng-model"=>"filters.title"
              .form-group{"ng-class" => "{'has-error': itemForm.active.$invalid && itemForm.$submitted}"}
                = label_tag :active, "Активное?", class:"control-label"
                %select.form-control{"ng-model" => "filters.active", "ng-options" => "k as v for (k, v) in ['Нет','Да']"}
              .form-group{"ng-class" => "{'has-error': itemForm.active.$invalid && itemForm.$submitted}"}
                = label_tag :category_id, "Категория", class:"control-label"
                %select.form-control{"ng-model" => "filters.category_id", "ng-options" => "country.id as country.name for country in #{@categories.to_json}"}
              .form-group{"ng-class" => "{'has-error': itemForm.action.$invalid && itemForm.$submitted}"}
                = label_tag :country_id, "Страна", class:"control-label"
                %select.form-control{"ng-model" => "filters.country_id", "ng-options" => "country.id as country.name for country in #{@countries.to_json}"}
              .form-group{"ng-class" => "{'has-error': itemForm.action.$invalid && itemForm.$submitted}"}
                = label_tag :city_id, "Город", class:"control-label"
                %select.form-control{"ng-model" => "filters.city_id", "ng-options" => "country.id as country.name for country in #{@cities.to_json}"}
              .form-group{"ng-class" => "{'has-error': itemForm.action.$invalid && itemForm.$submitted}"}
                = label_tag :id, "ID", class:"control-label"
                = text_field_tag :"id","" ,class:"form-control", "ng-model"=>"filters.id"
              .form-group{"ng-class" => "{'has-error': itemForm.action.$invalid && itemForm.$submitted}"}
                = label_tag :id, "Старое ID", class:"control-label"
                = text_field_tag :"slug","" ,class:"form-control", "ng-model"=>"filters.slug"
              .form-group{"ng-class" => "{'has-error': itemForm.meta_is_generated.$invalid && itemForm.$submitted}"}
                = label_tag :has_new_reviews, "СЕО генерированое?", class:"control-label"
                %select.form-control{"ng-model" => "filters.meta_is_generated", "ng-options" => "k as v for (k, v) in ['Нет','Да']"}
              .form-group{"ng-class" => "{'has-error': itemForm.has_new_reviews.$invalid && itemForm.$submitted}"}
                = label_tag :has_new_reviews, "Есть новые отзывы?", class:"control-label"
                %select.form-control{"ng-model" => "filters.has_new_reviews", "ng-options" => "k as v for (k, v) in ['Нет','Да']"}


              / .form-group{"ng-class" => "{'has-error': itemForm.ip.$invalid && itemForm.$submitted}"}
              /   = label_tag :user_id, t("b1_admin.user"), class:"control-label"
              /   %angucomplete#members{:datafield => "users", :descriptionfield => "email",:inputclass => "form-control form-control-small", :pause => "200", :placeholder => "Search users", :selectedobject => "testObj", :titlefield => "name", :url => "#{logs_systems_users_path}?term="}
= render "reviews"
