<div data-ctrl="Blog">
  <div class="search-block">
    <div class="container">
      <div class="baloon">
        <%= image_tag "baloon-3.png"%>
        <p class="bobble-green"><%=t("school.subscribe_for_news")%></p>
      </div>
      <div class="birds"><%= image_tag "birds.png"%></div>
      <div class="birds two"><%= image_tag "birds-2.png"%></div>
      <div class="form">
        <form name="search" id="search" action="<%=url("blog/search")%>" method="get">
          <div class="search-input">
            <input type="text" name="search" class="txtinput" placeholder="пошук статтей" required="required">
            <a href="#" class="search-icon js-submit not-ajax"></a>
          </div>
        </form>


      <%= form_for @subscriber, url: blog_subscribe_path do |f|%>
        <%=f.hidden_field :blog_subscribe, value: true  %>
          <div class="email-input">
          <%=f.email_field :email, class:"txtinput fr", placeholder: t('school.email_plc'), required: true  %>
          <a href="#" class="search-icon js-submit"></a>
          </div>
<!--         <div class="form-row">
          <%= f.check_box :active, required: true, checked: true  %>
          <%= f.label :active, "Я хочу отримувати новини від SPEAK на скриньку"  %>
        </div> -->

      <a href="#" class="subscribe js-submit"><%=t("school.subscribe_for_news_btn")%></a>
    <% end%>



      </div>
    </div>
  </div>

  <div class="themes-block">
    <div class="container">
      <% @items.each do |category|%>
        <div class="blog-themes" id="<%= category.seo_name%>">
          <h2><%= category.title%></h2>
          <% category.pages_for_blog.each do |page|%>
            <div class="theme-item">
              <div class="image-block">
                <img src="<%= page.logo(:medium)%>" alt="<%= page.title%>">
              </div>
              <% unless category.only_photos %>
                <div class="text">
                  <h5><%= page.title%></h5>
                  <p><%= truncate(page.anons, length: 300,omission: '...') %> <a href="<%= url("blog/item/#{page.seos.join('/')}")%>"><%=t("school.show_more")%></a></p>
                </div>
              <% end%>
            </div>
          <% end %>
          <div class="clear"></div>
          <a href="<%= url("blog/category/#{category.seo_name}") %>" class="more"><%=t("school.read_all")%></a>
        </div>
      <% end %>
    </div>
  </div>

  <% if @similar.any? %>
    <%= render partial: "shared/similar", locals:{similar: @similar} %>
  <% end %>
</div>
