<div class="row row-edge  ">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="portfolio-wrap">
         <div class="portfolio-container list-layout loading-animation-move-up" data-post-per-page="9" data-column="3" data-list-layout="list-layout" data-loading-mode="ajax-pagination" data-item-margin="30" data-fixed-height="300" data-template="portfolio_list.tmpl" data-posts-format="post-format-all">
            <div class="portfolio-list" data-all-posts-count="12">
              <% @items.each do |page| %>
                <div class="portfolio-item item-1 odd  list-layout-item custom-hover clearfix">
                  <div class="inner-wrap">
                     <div class="media-content">
                        <img width="1024" height="576" src="<%= page.logo %>" class="grid-image wp-post-image" alt="<%= page.title %>">
                     </div>
                     <div class="item-content">
                        <h3><a href="<%= url(page.link) %>"><%= page.title %></a></h3>
                        <p><%= page.anons %></p>
                        <div class="entry-permalink">
                          <a href="<%= url(page.link) %>" class="cherry-btn cherry-btn-primary cherry-btn-extra-large"><%= t("uex.read_more")%></a>
                        </div>
                     </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="cherry-portfolio-ajax-loader" style="display: none; opacity: 0;">
               <div class="cherry-spinner cherry-spinner-double-bounce">
                  <div class="cherry-double-bounce1"></div>
                  <div class="cherry-double-bounce2"></div>
               </div>
            </div>
            <div class="portfolio-pagination with-ajax">
                <nav class="navigation pagination" role="navigation">
                    <h2 class="screen-reader-text">Pages:</h2>
                    <%= will_paginate(@items, class: "nav-links", renderer: PaginationHelper::LinkRenderer) %>
                </nav>
            </div>
         </div>
      </div>
   </div>
</div>
