  <div class="themes-block" data-ctrl="Blog">
    <div class="container_small">
      <div class="open-topic">
        <ul class="publish-date">
          <li><a href="<%= url("blog/category/#{@item.category_seo_name}") %>"><%= @item.category_title%></a></li>
          <li class="date"><%= l(@item.created_at,format: :blog) %></li>
        </ul>
        <h2><%= @item.title%></h2>
        <% if @item.author.present? &&  %>
          <div class="author"><%= t("school.page_author") %> <%= @item.author%></div>
        <% end %>

        <div class="text">
          <div class="image-block">
            <a href="<%= @item.logo%>" class="image-link">
              <img width="730" height="365" src="<%= @item.logo(:big)%>" alt="<%= @item.title%>">
            </a>
          </div>
          <% if @item.desc.present? && @item.not_foto %>
            <p><%= @item.desc.html_safe%></p>
          <% end %>
        </div>

        <div class="social-buttons">
          <a href="<%= url("blog/item/#{@item.seos.join('/')}") %>" class="f-like" onclick="TShare.facebook(this,event,'','<%= URI.escape @item.title %>')">Like</a>
          <a href="<%= url("blog/item/#{@item.seos.join('/')}") %>" class="gp-like" onclick="TShare.googleplus(this,event,'','<%= URI.escape @item.title %>')">Like</a>
          <a href="<%= url("blog/item/#{@item.seos.join('/')}") %>" class="vk-like" onclick="TShare.vkontakte(this,event,'','<%= URI.escape @item.title %>')">Like</a>
        </div>
        <a href="<%= url("blog/category/#{@item.category_seo_name}") %>" class="more"><%= t("school.back_to_all_category",title: @item.category_title) %></a>
      </div>
    </div>
  </div>
  <% unless @item.not_foto %>
  <script type="text/javascript">
    (function($) {
        $(window).load(function () {
            $.magnificPopup.open({
                items: {
                    src: '<%= @item.logo%>'
                },
                showCloseBtn: false,
                type: 'image'
            }, 0);
        });
    })(jQuery);

  </script>
  <% end %>
  <% if @similar.any? %>
    <%= render partial: "shared/similar", locals:{similar: @similar} %>
  <% end %>
