            <div class="container">
               <div id="primary" class="content-area">
                  <main id="main" class="site-main" role="main">
                     <article class="cherry-has-entry-date cherry-has-entry-author cherry-has-entry-comments clearfix post-22 post type-post status-publish format-standard has-post-thumbnail hentry category-allergyasthma" id="post-22">
                        <header class="entry-header">
                           <h2 class="entry-title"><%= @item.title %></h2>
                        </header>
                        <div class="entry-meta entry-meta-top">
                           <span class="posted-on"><time class="entry-date published" datetime="<%= @item.created_at %>">><%= l(@item.created_at.present? ? @item.created_at : Time.now , format: :uex) %></time></span>
                        </div>
                        <figure class="entry-thumbnail cherry-thumb-l aligncenter large">
                          <img  src="<%= @item.logo %>" class="attachment-cherry-thumb-l wp-post-image" alt="post-1"/>
                        </figure>
                        <div class="entry-content">
                           <%= @item.desc.html_safe %>
                        </div>
                           <div class="entry-content">


                           <div class="share42init" data-url="<%= url(@item.link) %>" data-description="<%= @meta_desc%>" data-title="<%= @meta_title%>" data-image="<%= Settings.domain + @image.to_s %>" ></div>
                           <script type="text/javascript" src="/js/share42.js"></script>



                           </div>
                        <div class="entry-meta entry-meta-bottom"></div>
                     </article>
               </div>
               <%= render "similar", similar: @similar %>
               </main>
            </div>
