<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8"/>
      <title><%= @meta_title%></title>
      <meta name="description" content="<%= @meta_desc%>"/>
      <meta name="keywords" content="<%= @meta_keys%>"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>

      <link rel='stylesheet' id='font-awesome-css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css?ver=4.4.0' type='text/css' media='all'/>
      <link rel='stylesheet' id='cherry-google-fonts-css' href='//fonts.googleapis.com/css?family=Roboto%3A500%2Cregular%2C100%7CAbril+Fatface%3Aitalic&#038;subset=latin%2Clatin-ext&#038;ver=4.3.1' type='text/css' media='all'/>

      <meta name="generator" content="B1 Dev"/>
      <link rel="publisher" href="https://plus.google.com/u/0/b/103359602341449879335/103359602341449879335/posts"/>

      <script type="text/javascript">
         (function(i, s, o, g, r, a, m) {
             i['GoogleAnalyticsObject'] = r;
             i[r] = i[r] || function() {
                 (i[r].q = i[r].q || []).push(arguments)
             }, i[r].l = 1 * new Date();
             a = s.createElement(o),
                 m = s.getElementsByTagName(o)[0];
             a.async = 1;
             a.src = g;
             m.parentNode.insertBefore(a, m)
         })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
         ga('create', 'UA-56789902-1', 'auto');
         ga('send', 'pageview');
      </script>
      <script type="text/javascript">
         new Image().src = "//counter.yadro.ru/hit?r" +
             escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                 ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                     screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
             ";" + Math.random();
      </script>
      <% if @canonical%>
         <link rel='canonical' href='<%= @canonical %>'/>
      <% end %>
      <link rel='shortlink' href='<%= Settings.domain %>'/>

      <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
      <link href="/favicon.ico" sizes="57x57" rel="apple-touch-icon-precomposed">
      <link href="/favicon.ico" sizes="72x72" rel="apple-touch-icon-precomposed">
      <link href="/favicon.ico" sizes="114x114" rel="apple-touch-icon-precomposed">
      <link href="/favicon.ico" sizes="144x144" rel="apple-touch-icon-precomposed">

      <meta property="og:locale" content="<%= Settings.languages[I18n.locale.to_s] %>" />
      <% if @og_type %>
         <meta property="og:type" content="<%= @og_type %>" />
      <% end %>
      <meta property="og:title" content="<%=@meta_title%>" />
      <meta property="og:description" content="<%=@meta_desc%>" />
      <meta property="og:url" content="<%= Settings.domain + request.fullpath %>" />
      <meta property="og:site_name" content="UEX" />

      <% if  @section_name %>
         <meta property="article:section" content="<%= @section_name%>" />
      <% end %>
      <% if @published_at%>
         <meta property="article:published_time" content="<%= @published_at%>" />
         <meta property="article:modified_time" content="<%= @published_at%>" />
         <meta property="og:updated_time" content="<%= @published_at%>" />
      <% end %>
      <% if  @image %>
         <meta property="og:image" content="<%= Settings.domain + @image.to_s%>" />
      <% end %>



      <% if @has_editor %>
         <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" />

      <% end %>


      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application'%>
      <% if @has_google_api%>
         <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <% end %>
      <%= csrf_meta_tags %>





















   </head>
   <body class="<%= url_is_current?("category","home page blog")  %> <%= url_is_current?("main","home page blog")  %>  <%= url_is_current?("city","home page blog")  %>  <%= url_is_current?("baners","single single-post")  %> <%= url_is_current?("previev","single single-post")  %> <%= url_is_current?("item","single single-post")  %>  <%= @body_cls %>  <%= url_is_current?("add","single single-post")  %>  page-template-default cherry-responsive cherry-no-sidebar cherry-navigation-arrow" dir="ltr">
      <div id="site-wrapper" class="hfeed site">
         <header id="header" class="site-header wide" role="banner">
            <div id="static-area-header-top" class="header-top static-area">
               <div class="container">
                  <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 static-header-menu">
                        <nav id="menu-primary" class="menu-primary menu" role="navigation">
<!--                            <label class="cherry-mega-menu-mobile-trigger" for="trigger-menu-primary-items">Menu</label><input class="cherry-mega-menu-mobile-trigger-box" id="trigger-menu-primary-items" type="checkbox"> -->
                           <ul style="<%= logged_in? ? 'width: 990px;' : ''%>" id="menu-primary-items" class="menu-items cherry-mega-no-js cherry-mega-menu mega-menu-direction-horizontal total-columns-12" data-event="hover" data-effect="slide-top" data-direction="horizontal" data-mobile-trigger="768" data-parent-selector=".cherry-mega-menu">

                              <% if !logged_in? %>
                              <li class="current-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-33 cherry-mega-menu-top-item item-submenu-position-fullwidth item-align-top-left menu-item-standard">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                              <% end %>

                              <li class="<%= url_is_current?("main","current-menu-item")%> menu-item menu-item-type-post_type menu-item-object-page menu-item-33 cherry-mega-menu-top-item item-submenu-position-fullwidth item-align-top-left menu-item-standard">
                                    <a href="<%= url("/") %>"><%= t("uex.home")%></a>
                              </li>
                              <li class="separator cherry-mega-menu-top-item">/</li>
                              <li class="<%= url_is_current?("add","current-menu-item")%> menu-item menu-item-type-post_type menu-item-object-page menu-item-33 cherry-mega-menu-top-item item-submenu-position-fullwidth item-align-top-left menu-item-standard">
                                    <a href="<%= url("add") %>"><%= t("uex.add_baner")%></a>
                              </li>
                              <li class="separator cherry-mega-menu-top-item">/</li>
                              <li class="<%= url_is_current?("products","current-menu-item")%> menu-item menu-item-type-post_type menu-item-object-page menu-item-33 cherry-mega-menu-top-item item-submenu-position-fullwidth item-align-top-left menu-item-standard">
                                    <a href="<%= url("products") %>"><%= t("uex.products")%></a>
                              </li>
<!--                               <li class="separator cherry-mega-menu-top-item">/</li>
                              <li class="<%= url_is_current?("contacts","current-menu-item")%> menu-item menu-item-type-post_type menu-item-object-page menu-item-33 cherry-mega-menu-top-item item-submenu-position-fullwidth item-align-top-left menu-item-standard">
                                    <a href="<%= url("contacts") %>"><%= t("uex.contacts")%></a>
                              </li> -->
                              <li class="separator cherry-mega-menu-top-item">/</li>
                              <li class="<%= url_is_current?("signin","current-menu-item")%> menu-item menu-item-type-post_type menu-item-object-page menu-item-33 cherry-mega-menu-top-item item-submenu-position-fullwidth item-align-top-left menu-item-standard">
                                    <a href="<%= current_user ? edit_user_path(current_user) : url("users/signin") %>"><%= t("uex.signin")%></a>
                              </li>
                              <li class="separator cherry-mega-menu-top-item">/</li>

                              <li class="<%= url_is_current?("users","current-menu-item", "index")%> menu-item menu-item-type-post_type menu-item-object-page menu-item-33 cherry-mega-menu-top-item item-submenu-position-fullwidth item-align-top-left menu-item-standard">
                                    <a href="<%= url("users") %>"><%= t("uex.users")%></a>
                              </li>
                              <li class="separator cherry-mega-menu-top-item">/</li>

<!--                               <li class="<%= url_is_current?("blog","current-menu-item")%> menu-item menu-item-type-post_type menu-item-object-page menu-item-33 cherry-mega-menu-top-item item-submenu-position-fullwidth item-align-top-left menu-item-standard">
                                    <a href="<%= url("blog") %>"><%= t("uex.blog")%></a>
                              </li>
                              <li class="separator cherry-mega-menu-top-item">/</li> -->


                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-66 cherry-mega-menu-top-item item-submenu-position-fullwidth cherry-mega-menu-has-children item-type-standard item-align-top-left menu-item-standard" data-hide-mobile="" data-sub-hr-position="fullwidth" data-sub-vr-position="vertical-parent" data-sub-type="standard">
                                 <a href="#" data-title="<%= I18n.locale.to_s.upcase%>"><%= I18n.locale.to_s.upcase%><i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i></a>
                                 <ul class="cherry-mega-menu-sub level-0 effect-slide-top simple-sub" style="background-color: #fff;min-width: 82px;">
                                    <% I18n.available_locales.each do |locale|%>
                                    <li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298 cherry-mega-menu-sub-item item-nested-sub item-nested-sub-1 menu-item-standard"><a href="<%= locale_url(locale)  %>/" data-title="<%= locale.to_s.upcase %>"><%= locale.to_s.upcase %></a></li>
                                    <% end %>
                                 </ul>
                              </li>

                              <% if logged_in?%>
                                 <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 cherry-mega-menu-top-item item-submenu-position-fullwidth item-align-top-left menu-item-standard">
                                       <a href="<%= url("logout") %>"><%= t("uex.logout")%></a>
                                 </li>
                              <% end %>





                           </ul>
                           <label class="cherry-mega-menu-mobile-close" for="trigger-menu-primary-items">Close</label>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>



            <div id="static-area-header-bottom" class="header-bottom static-area">
               <div class="container">
                  <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 static-header-logo">
                        <div class="site-branding">
                           <h1 class="site-title image-logo">
                                 <%= image_tag "logo.png", style:"width: 176px;" %>
                                 <span>
                                    <%= t("uex.lozung").html_safe%>
                                 </span>

                           </h1>
                           <%  if @has_video %>
<!--                            <div class="phone-block">
                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                 <div class="phone">
                                  +38(067) 574 21 88
                                 </div>
                              </div>

                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                 <div class="phone">
                                  +38(093) 170 05 96
                                 </div>
                              </div>
                              <div class="clear"></div>
                           </div> -->
                           <% end %>
                        </div>



                     </div>

                     <%= render("shared/search") if @has_search%>
                  </div>
               </div>
               <%= render("shared/video") if @has_video%>
            </div>

         <%= breadcrumbs(@breadcrumbs_items, @breadcrumbs_last)%>
         </header>
         <div id="content" class="site-content boxed extra-boxed">
            <%= yield %>
         </div>
         <footer id="footer" class="site-footer wide" role="contentinfo">
            <div id="static-area-footer-top" class="footer-top static-area">
               <div class="container">
                  <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 static-footer-sidebars">
                        <div class='row'>
                           <div class="col-xs-12 col-sm-3">
                              <div class="sidebar-footer-1 widget-area" role="complementary">
                                 <aside id="nav_menu-2" class="widget widget_nav_menu">
                                    <h3 class="widget-title"><%= t("uex.navigation")%></h3>
                                    <div class="menu-main-menu-container">
                                       <ul id="menu-main-menu" class="menu">
                                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
                                                <a href="<%= url("/") %>"><%= t("uex.home")%></a>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65">
                                                <a href="<%= url("products") %>"><%= t("uex.products")%></a>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
                                                <a href="<%= url("blog") %>"><%= t("uex.blog")%></a>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65">
                                                <a href="<%= url("contacts") %>"><%= t("uex.contacts")%></a>
                                          </li>
                                       </ul>
                                    </div>
                                 </aside>
                              </div>
                           </div>
                           <div class="col-xs-12 col-sm-3">
                              <div class="sidebar-footer-2 widget-area" role="complementary">
                                 <aside id="text-3" class="widget widget_text">
                                    <h3 class="widget-title"><%= t("uex.for_clients")%></h3>
                                    <div class="textwidget">
                                       <ul>
                                          <li><a href="<%= url("products") %>"><%= t("uex.products")%></a></li>
                                          <li><a href="<%= url("orders/add") %>"><%= t("uex.add_baner")%></a></li>
<!--                                           <li><a href="<%= url("orders/baner_up") %>"><%= t("uex.order_baner_up")%></a></li>
                                          <li><a href="<%= url("orders/page_up") %>"><%= t("uex.order_page_up")%></a></li> -->
                                          <li><a href="<%= url("users/login") %>"><%= t("uex.user_sign_in")%></a></li>
                                       </ul>
                                    </div>
                                 </aside>
                              </div>
                           </div>
                           <div class="col-xs-12 col-sm-3">
                              <div class="sidebar-footer-3 widget-area" role="complementary">
                                 <aside id="cherry-social-follow-2" class="widget cherry-social-follow-class">
                                    <h3 class="widget-title"><%= t("uex.in_social")%></h3>
                                    <div id='cherry-follow-items-1' class='cherry-follow_wrap '>
                                       <ul class='cherry-follow_list clearfix'>
                                          <li class="cherry-follow_item rss-item">
                                                <a class="cherry-follow_link" href="http://vk.com/public100423701" target="_blank" rel="nofollow" title="Vkontakte">
                                                      <i class='fa fa-vk'></i>
                                                      <span class="cherry-follow_label social-item">Vkontakte</span>
                                                </a>
                                          </li>
                                          <li class="cherry-follow_item facebook-item">
                                                <a class="cherry-follow_link" href="https://www.facebook.com/UEX-%D1%8D%D0%BD%D0%B5%D1%80%D0%B3%D0%B8%D1%8F-%D0%92%D0%B0%D1%88%D0%B5%D0%B3%D0%BE-%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%D0%B0-1556766184544022/" target="_blank" rel="nofollow" title="Facebook">
                                                      <i class='fa fa-facebook'></i>
                                                      <span class="cherry-follow_label social-item">Facebook</span>
                                                </a>
                                          </li>
                                          <li class="cherry-follow_item twitter-item">
                                                <a class="cherry-follow_link" href="https://www.linkedin.com/in/uex-company-34a353106" target="_blank" rel="nofollow" title="LinkedIn">
                                                      <i class='fa fa-linkedin'></i>
                                                      <span class="cherry-follow_label social-item">LinkedIn</span>
                                                </a>
                                          </li>
                                       </ul>
                                    </div>
                                 </aside>
                              </div>
                           </div>
                           <div class="col-xs-12 col-sm-3">
                              <div class="sidebar-footer-4 widget-area" role="complementary">
                                 <aside id="text-4" class="widget widget_text">
                                    <h3 class="widget-title"><%= t("uex.contacts")%></h3>
                                    <div class="textwidget">
                                       <address>

                                          <p><i class="material-design-phone370"></i>38(067) 574 21 88</p>
                                          <p><i class="material-design-phone370"></i>38(093) 170 05 96</p>
                                          <p><i class="material-design-phone370"></i>38(032) 253 01 40</p>
                                          <p><i class="material-design-home149"></i><%= t("uex.ofice_address")%></p>
                                          <p>
                                             <i class="material-design-black402"></i>
                                             <a href="mailto:it@uex.link ">
                                                <span class="__cf_email__" data-cfemail="a2cbccc4cde2c6c7cfcdcecbccc98ccdd0c5">it@uex.link</span>
                                             </a>
                                          </p>
                                       </address>
                                    </div>
                                 </aside>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="static-area-footer-bottom" class="footer-bottom static-area">
               <div class="container">
                  <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 static-footer-info">
                        <div class="site-info"><a class="footer-site-link" href="<%= url("/")%>" rel="home">UEX</a> &copy; 2015 &nbsp;&nbsp;</div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <div id="back-top" class=""><a href="#top"></a></div>
      </div>

   </body>
</html>
